<link rel="stylesheet" href="../font-awesome/css/font-awesome.css">
<style type="text/css">
.btn1 {
  background: #27A6DB;
  background-image: -webkit-linear-gradient(top, #27A6DB, #27A6DB);
  background-image: -moz-linear-gradient(top, #27A6DB, #27A6DB);
  background-image: -ms-linear-gradient(top, #27A6DB, #27A6DB);
  background-image: -o-linear-gradient(top, #27A6DB, #27A6DB);
  background-image: linear-gradient(to bottom, #27A6DB, #27A6DB);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
</style>

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Tiendas Incluidas</h3>
		
		<div class="panel-options btn1">
        <a href="index.html#/app/waves-registro_ntienda">[Registrar nueva tienda]</a></div>
	</div>
	<div class="panel-body">
		
		<script type="text/javascript">
		jQuery(document).ready(function($)
		{
			$("#example-3").dataTable();
		});
		</script>
		
		<table class="table table-striped table-bordered" id="example-3">
			<thead>
				<tr class="replace-inputs">
					<th>Consolidado</th>
					<th>Cadena</th>
					<th>No. Cadena</th>
					<th>Tipo establecimiento</th>
					<th>RFC</th>
                    <th>Razón social</th>
                    <th>Tipo organización</th>
                    <th>Nombre de tienda</th>
                    <th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>00091265</td>
					<td>GABRIEL FLORES ALCALA</td>
					<td></td>
					<td>TIENDA</td>
					<td>PIRA730130NR4</td>
                    <td>ARGELIA  PIÑA  RAMIREZ</td>
                    <td>PERSONA</td>
                    <td>PINTURAS TULTEPEC</td>
					<td>
						&nbsp;<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
						</a>
						
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
						</a>
						
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a>
					</td>
				</tr>
				<tr>
					<td>317992</td>
					<td>EDMUNDO ESTEBAN GUERRERO RAMIREZ</td>
					<td>501381</td>
					<td>TIENDA</td>
					<td>PCO1311159X1</td>
                    <td>POLIFORMA DE COLOR S DE RL DE CV</td>
                    <td>ORGANIZACION</td>
                    <td>SUCURSAL BARRIENTOS</td>
					<td>
						&nbsp;<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
						</a>
						
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
						</a>
						
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a>
					</td>
				</tr>
			</tbody>
			
		</table>
		
	</div>
</div>