

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Olas</h3>
		
		<div class="panel-options btn1"><a href="index.html#/app/waves_new-waves" type="submit" class="btn btn-success">Nuevo</a></div>
	</div>
	<div class="panel-body">
		
		
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="false"  >
		<table class="table table-small-font table-bordered table-striped"  id="example-3">
			<thead>
				<tr class="replace-inputs">
					<th	>Nombre</th>
					<th data-priority="3">Fecha de inicio</th>
					<th data-priority="3">Fecha fin</th>
					<th data-priority="3">Cuestionario</th>
					<th data-priority="1">Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Mistery shopper 01-2016/03-2016</td>
					<td>01/01/2016</td>
					<td>01/03/2016</td>
					<td>Cuestionario 012016</td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
						</a>
						
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
						</a>
						
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a>
					</td>
				</tr>
				<tr>
					<td>Mistery shopper 01-2015/03-2015</td>
					<td>01/01/2015</td>
					<td>01/03/2015</td>
					<td>Cuestionario 012016</td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>Mistery shopper 01-2015/03-2015</td>
					<td>01/01/2015</td>
					<td>01/03/2015</td>
					<td>Cuestionario 012016</td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>Mistery shopper 01-2015/03-2015</td>
					<td>01/01/2015</td>
					<td>01/03/2015</td>
					<td>Cuestionario 012016</td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>Mistery shopper 01-2015/03-2015</td>
					<td>01/01/2015</td>
					<td>01/03/2015</td>
					<td>Cuestionario 012016</td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
			</tbody>
			
		</table>
		</div>
	</div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>