<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
	
		<h3 class="panel-title">Avisos</h3>
		<div class="panel-options btn1">
			<a class="btn btn-success"
							ui-sref="app.vacaciones-registro({vacacionesItem:vacaItem, listaVacaciones:listaVacaciones})">Nueva
							Solicitud</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-options"></div>

			<div class="tab-content no-margin">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="born">Realiza una
								busqueda</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa-search"></i>
								</div>
								<input type="text" class="form-control" id="nombre"
									placeholder="Nombre" ng-model="filters.nombre">
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-88">
				<div class="row">
					<div class="col-lg-3" ng-repeat="vacaItem in vacaciones">
						<div class="cuadro_intro_hover "
							style="background-color: #cccccc;">
							<p style="text-align: center; margin-top: 20px;">
								<img
									src="http://trovacamporella.com/img/trovacamporella-fiat500.png"
									class="img-responsive" alt="">
							</p>
							<div class="caption">
								<div class="blur"></div>
								<div class="caption-text">
									<h3
										style="border-top: 2px solid white; border-bottom: 2px solid white; padding: 10px;">
										{{vacaItem.asunto}}</h3>
									<h2 style="border-bottom: 2px solid white;">$
										{{vacaItem.categoria}}</h2>
									<h6>Descripción: {{vacaItem.descripcion}}</h6>
									<a
										ui-sref="app.vacaciones-registro({vacacionesItem:vacaItem, listaVacaciones:listaVacaciones})"
										class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
										title="Editar"> </a> <a href=""
										class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
										title="Eliminar"> </a> <a
										ui-sref="app.imagen-producto({entidad: repository.loggedUser.idUsuario, figura : 'FIG_EMPLEADO' })"
										class="btn btn-info btn-sm btn-icon icon-left fa fa-file-image-o"
										title="Documentos"> </a>

									<button class=" btn btn btn-success botones"
										ui-sref="app.publicproductos({})">
										<span class="glyphicon glyphicon-plus">Detalles</span>
									</button>

								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>