

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Aprobación/Rechazo de datos al Proveedor</h3>
		
	</div>
	<div class="panel-body">
		
		<!-- Default panel -->
		<div style="page-break-before: auto; class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon" style="color: black">&ndash;</span>
						<span class="expand-icon" style="color: black">+</span>
					</a>
				</div>
			</div>
			
			<div class="panel-body">
			<form role="form">
				<div class="row">
					<div class="col-md-12">
		
	</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" id="field-1" placeholder="Regiones">
						</div>	
					</div>
					
					<div class="col-md-6">						
						<div class="form-group">
							<input type="text" class="form-control" id="field-2" placeholder="Zonas">
						</div>	
					</div>
				</div>
			

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" id="field-1" placeholder="Nombre de Tienda">
						</div>	
					</div>
					
					<div class="col-md-6">						
						<div class="form-group">
							<input type="text" class="form-control" id="field-2" placeholder="Proveedor">
						</div>	
					</div>
				</div>

		
		<div class="form-group-separator"></div>
			</form>
			</div>
		</div>
		
<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
		<table class="table table-small-font table-bordered table-striped"  id="example-3">
			<thead>
				<tr class="replace-inputs">
					<th>Tienda</th>
					<th>Fecha que se evalua</th>
					<th>Detalle</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Comex 1</td>
					<td>01/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 2</td>
					<td>02/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 3</td>
					<td>03/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 4</td>
					<td>04/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 5</td>
					<td>05/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 6</td>
					<td>06/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 7</td>
					<td>07/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 8</td>
					<td>08/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 9</td>
					<td>09/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 10</td>
					<td>10/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 11</td>
					<td>11/02/2016</td>
					<td><a href="index.html#/app/quality-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
			</tbody>
			
		</table>
		</div>
	</div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>