<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Calculo Indicadores de Caja</h3>
	</div>
	<div class="panel-body">

		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones" >
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Fecha de Inicial</label> <input
								class="form-control datepicker data-format=yyyy-mm-dd" data-start-view="2"
								placeholder="Fecha Inicial"
								ng-model="fechaIndicadores">
						</div>
					</div>
					<div class="form-group-separator"></div>
					<div class="form-group" align="right">
						<a href="" ng-click="calculaIndicadores();"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt">Consultar
						</a>	
					</div>					
					<div class="form-group" align="right">
						<a href="" ng-click="calculaIndicadoresSemana();"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt">Indicadores Semana
						</a>	
					</div>					
					<div class="form-group" align="right">
						<a href="" ng-click="calculaOperacionesMensuales();"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt">Operaciones Mensuales
						</a>	
					</div>					
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>