
<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Reporte de Cartera</h3>
	</div>
	<div class="panel-body">
<alert type="info" ng-show="emptyForm">
		<strong>Introduzca criterios de b&uacute;squeda</strong>
	</alert>
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones">
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="region" multiple
									ng-model="filters.regiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="gerencia" multiple
									ng-model="filters.gerencias">
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="ruta" multiple
									ng-model="filters.rutas">
								</select>
							</div>
						</div>

					</div>
					<div class="form-group-separator"></div>



					<div class="form-group" align="right">
						<a href="" ng-click="reloadx();"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Consultar </a> 
						<a href=""
							ng-click="generaReporteCartera('html');"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							>Generar Reporte</a>
						<a href=""
							ng-click="generaReporteCartera('excel');"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Generar Excel</a>
					</div>
					<div class="form-group" align="right">
						<a href="" ng-click="showDetail();"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Detalle</a> 
						<a href=""
							ng-click="generaReporteDetalleCartera('html');"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt" ng-style="{'width':'151px'}"
							>Reporte Detalle</a>
						<a href=""
							ng-click="generaReporteDetalleCartera('excel');"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Excel Detalle</a>
					</div>





				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Reporte de cartera</h3>

						<div class="panel-options">
							<a href="#"> <i class="linecons-cog"></i>
							</a> <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span>
								<span class="expand-icon">+</span>
							</a> <a href="#" data-toggle="reload"> <i class="fa-rotate-right"></i>
							</a> <a href="#" data-toggle="remove"> &times; </a>
						</div>
					</div>
					<div class="panel-body">

						<div class="table-responsive" data-pattern="priority-columns"
							data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
							data-add-display-all-btn="true" data-add-focus-btn="true">

							<table cellspacing="0"
								class="table table-small-font table-bordered table-striped"
								id="resumen">
								<thead>
									<tr class="replace-inputs">
										<th>Gerencia</th>
										<th>Ruta</th>
										<th>No. Créditos</th>
										<th>En Tiempo</th>
										<th>No. Créditos</th>
										<th>Preventiva</th>
										<th>No. Créditos</th>
										<th>Riesgo</th>
										<th>No. Créditos</th>
										<th>Vencida</th>
										<th>No. Créditos</th>
										<th>Incobrable</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="rutaItem in itemsResumen">
										<td>{{rutaItem.gerencia}}</td>
										<td>{{rutaItem.ruta}}</td>
										<td>{{rutaItem.numCarteraSana | number}}</td>
										<td>{{rutaItem.carteraSana | currency}}</td>
										<td>{{rutaItem.numCarteraPreventiva | number}}</td>
										<td>{{rutaItem.carteraPreventiva | currency}}</td>
										<td>{{rutaItem.numCarteraRiesgo | number}}</td>
										<td>{{rutaItem.carteraRiesgo | currency}}</td>
										<td>{{rutaItem.numCarteraVencida | number}}</td>
										<td>{{rutaItem.carteraVencida | currency}}</td>
										<td>{{rutaItem.numCarteraIncobrable | number}}</td>
										<td>{{rutaItem.carteraIncobrable | currency}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>
<!--  NUEVA SECCION PARA DETALLE -->

<div class="panel panel-default" ng-show="showDetalle">
	<div class="panel-heading">
		<h3 class="panel-title">Detalle</h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Ruta</th>
						<th data-priority="3">Cliente</th>
						<th data-priority="3">Credito</th>
						<th data-priority="3">Producto</th>
						<th data-priority="3" title="Fecha Último Pago" >FUP</th>
						<th data-priority="3" title="Fecha Esperada de Pago">FEP</th>
						<th data-priority="3">Dias vencidos</th>
						<th data-priority="3">En tiempo</th>
						<th data-priority="3">Preventiva</th>
						<th data-priority="3">Riesgo</th>
						<th data-priority="3">Vencida</th>
						<th data-priority="3">Incobrable</th>
					</tr>
				</thead>
				<tbody>
				
					<tr ng-repeat="item in creditosVO">
						<td>{{item.rutaCliente}}</td>
						<td>{{item.nombreCliente}}</td>
						<td>{{item.id}}</td>
						<td>{{item.producto}}</td>
						<td>{{item.fechaUltimoPago}}</td>
						<td>{{item.fechaPagoNoPagado}}</td>
						<td>{{item.diasAtraso}}</td>
						<td>{{item.tipoCartera == "sana"?item.saldo:"" | currency}}</td>
						<td>{{item.tipoCartera == "preventiva"?item.saldo:"" | currency}}</td>
						<td>{{item.tipoCartera == "riesgosa"?item.saldo:"" | currency}}</td>
						<td>{{item.tipoCartera == "vencida"?item.saldo:"" | currency}}</td>
						<td>{{item.tipoCartera == "inco"?item.saldo:"" | currency}}</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>