<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Reporte de Cobranza</h3>
	</div>
	<div class="panel-body">
<alert type="info" ng-show="emptyForm">
		<strong>Introduzca criterios de b&uacute;squeda</strong>
	</alert>
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones" ng-change="changeDiv()">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="region" multiple
									ng-model="filters.regiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="gerencia" multiple
									ng-model="filters.gerencias">
								</select>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="ruta" multiple
									ng-model="filters.rutas">
								</select>
							</div>
						</div>
					</div>
					
					
					<!-- 
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="ruta" ng-change="changeRutas()"
									ng-model="ruta">
									<option>Selecciones una</option>
								</select>
							</div>
						</div>
					</div>
					 -->
					<div class="form-group-separator"></div>
				</form>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group" align="right">
				<a href="" ng-click="consulta()"
					class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt" ng-style="{'width':'121px'}">Consultar</a>
					
					<a href="" ng-click="generaReporteCobranza('html');"
					class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt">Generar Reporte</a>
					<a href="" ng-click="generaReporteCobranza('excel');"
					class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt" ng-style="{'width':'121px'}">Generar Excel</a>
			</div>
		</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Clave</th>
						<th data-priority="3">Producto</th>
						<th data-priority="1">Cliente</th>
						<th data-priority="3">Estatus Crédito</th>
						<th data-priority="1">Monto</th>
						<th data-priority="1">Saldo</th>
						<th data-priority="1">Pago</th>
						<th data-priority="3">Plazo</th>
						<th data-priority="3">Pendientes</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in cobranza">
						<td>{{item.credito.id}}</td>
						<td>{{item.credito.producto}}</td>
						<td>{{item.cliente.apellidoPaterno}}
							{{item.cliente.apellidoMaterno}} {{item.cliente.nombre}}</td>
						<td class="right">{{item.credito.estatusCredito}}</td>
						<td class="right">{{item.credito.monto | currency}}</td>
						<td class="right">{{item.credito.saldo | currency}}</td>
						<td class="right">{{item.credito.pago | currency}}</td>
						<td class="right">{{item.credito.plazo | number}}</td>
						<td class="right">{{item.numeroVencidos | number}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>