<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Reportes base para Nómina Actual</h3>
	</div>
	<div class="panel-body">

		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row" style="margin-bottom: 21px;">

						<div class="col-md-6">
							<label class="control-label">Tipo Periodo</label>
								<select  id="periodo"
									ng-model="filters.periodo">
								</select>
							
						</div>
						<div class="col-md-6">
							<label class="control-label">No. Periodo</label>
								<select  id="noPeriodo"
									ng-model="filters.noPeriodo">
								</select>
							
						</div>

					</div>
					<div></div>

					<div class="row">
						
						<div class="col-md-6">
							<p class="input-group">
								<label>Selecciona un año: </label>
								<input type="text"  class="form-control" ng-model="filters.anio" required="required">
								</input>
								<datepicker ng-model="dt" min-mode="year" datepicker-mode="'year'"
									ng-change="cambiaValor()"></datepicker>
							</p>
						</div>

						



					</div>
					<div class="form-group-separator"></div>
					
					<div class="form-group" align="right">
						<a href="" ng-click="reload();"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Consultar </a>
							
						<a href="" ng-click="generaReporteNomina('html');"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'136px'}">Generar
							Reporte</a>
							
						<a href="" ng-click="generaReporteNomina('excel')"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Generar
							Excel</a>
					</div>
					
					

				</form>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Cve Emp</th>
						<th data-priority="3">Semanas</th>
						<th data-priority="3">Nombre Completo</th>
						<th data-priority="3">Cobranza</th>
						<th data-priority="3">Base Clientes</th>
						<th data-priority="3">Base Cobranza</th>
						<th data-priority="3">Base normalidad</th>
						<th data-priority="3">Factor cobranza</th>
						<th data-priority="3">Factor normalidad</th>
						<th data-priority="3">Total nomina</th>
						<th data-priority="3">Base nomina</th>
						<th data-priority="3">Base asimilado</th>
						<th data-priority="3">Descuento Prestamo</th>
						<th data-priority="3">Moto Descuento</th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in itemsBaseNomina">
						<td>{{item.cveEmpleado}}</td>
						<td>{{item.semanas}}</td>
						<td>{{item.nombreCompleto}}</td>
						<td>{{item.cobranza}}</td>
						<td>{{item.baseClientesNuevos}}</td>
						<td>{{item.baseCobranza}}</td>
						<td>{{item.baseNormalidad}}</td>
						<td>{{item.factorCobranza}}</td>
						<td>{{item.factorNormalidad}}</td>
						<td>{{item.totalNomina}}</td>
						<td>{{item.baseNomina}}</td>
						<td>{{item.baseAsimilados}}</td>
						<td>{{item.descuentoPrestamo}}</td>
						<td>{{item.descuentoMoto}}</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>