<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Reporte de Clientes con Recompra</h3>
	</div>
	<div class="panel-body">
<alert type="info" ng-show="emptyForm">
		<strong>Introduzca criterios de b&uacute;squeda</strong>
	</alert>
	<alert type="warning" ng-show="emptyDatos">
		<strong>No se encontraron datos</strong>
	</alert>
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="region" multiple
									ng-model="filters.regiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="gerencia" multiple
									ng-model="filters.gerencias">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="ruta" multiple
									ng-model="filters.rutas">
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Fecha inicial</label> <input
								class="form-control datepicker data-format=yyyy-mm-dd"
								data-start-view="2" placeholder="Fecha Inicial"
								ng-model="filters.fechaInicial">
						</div>
						<div class="col-md-6">
							<label class="control-label">Fecha final</label> <input
								class="form-control datepicker data-format=yyyy-mm-dd"
								data-start-view="2" placeholder="Fecha Final"
								ng-model="filters.fechaFinal">
						</div>
					</div>
					<div class="form-group-separator"></div>

					<div class="form-group" align="right">
						<a href="" ng-click="reload();"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Consultar </a> 
							<a href=""
							ng-click="generaReporteCaja('html');"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt">Generar
							Reporte</a>
							 <a href="" ng-click="generaReporteCaja('excel')"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Generar Excel</a>
					</div>


				</form>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Nombre Cliente</th>
						<th data-priority="1">Ruta Cliente</th>
						<th data-priority="1">Crédito</th>
						<th data-priority="3">Estatus</th>
						<th data-priority="1">Saldo</th>
						<th data-priority="3">Ruta Crédito</th>
						<th data-priority="3">Fecha Recompra</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in traspasos">
						<td>{{item.nombreCliente}}</td>
						<td>{{item.rutaCliente}}</td>
						<td>{{item.id}}</td>
						<td>{{item.estatusCredito}}</td>
						<td>{{item.saldo}}</td>
						<td>{{item.ruta}}</td>
						<td>{{item.fechaEmision}}</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>



<script type="text/ng-template" id="EliminarModal"> 
		<div class="modal-dialog" style="width: 95%">

<form role="form" id="EliminarModal" name="EliminarModal" method="post">
				<div class="modal-header">
            		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{{operacion}}</h4>
				</div>

				<div class="modal-body">
					<div class="tab-pane with-bg active" id="fwv-1">
						
						<div class="row">
							<div class="col-md-6">
								<label class="control-label">Fecha de Operación</label> <input
									class="form-control datepicker data-format=yyyy-mm-dd"
									data-start-view="2" ng-model="fechaEmi"
									placeholder="Ingrese Fecha de Operación">
							</div>
						</div>
						<div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Descripción</label> <input
										class="form-control" name="descripcion" value="" 
										title="Campo obligatorio, ingrese descripción" 
										placeholder="Ingrese descripción" ng-model="obs">
								</div>
							</div>
						</div>

					</div>
				</div>
        		<div class="modal-footer">
            		<button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            		<button type="button" class="btn btn-info" ng-click="cancelMovCaja();">Confirmar</button>
        		</div>
</form>
		</div>

</script>
