<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Reporte de Cifras de Control</h3>
	</div>
	<div class="panel-body">
<alert type="info" ng-show="emptyForm">
		<strong>Introduzca criterios de b&uacute;squeda</strong>
	</alert>
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones">
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="region" multiple
									ng-model="filters.regiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="gerencia" multiple
									ng-model="filters.gerencias">
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="ruta" multiple
									ng-model="filters.rutas">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Fecha de Inicial</label> <input
								class="form-control datepicker data-format=yyyy-mm-dd"
								data-start-view="2" placeholder="Fecha Inicial"
								ng-model="filters.fechaInicial">
						</div>
						<div class="col-md-6">
							<label class="control-label">Fecha de Final</label> <input
								class="form-control datepicker data-format=yyyy-mm-dd"
								data-start-view="2" placeholder="Fecha final"
								ng-model="filters.fechaFinal">
						</div>
					</div>
					<div class="form-group-separator"></div>
					<div class="row">
						<div class="col-md-6">
							<div class="checkbox">
								<label> <input type="checkbox"
									ng-model="filters.cajaRojo">Caja con saldo negativo
								</label>
							</div>
						</div>



					</div>
					<div class="form-group" align="right">
						<a href="" ng-click="reload();"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Consultar </a> <a href=""
							ng-click="reporteResumen('html');"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt">Generar
							Reporte</a> <a href="" ng-click="reporteResumen('excel')"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Generar Excel</a>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Cifras de control</h3>

						<div class="panel-options">
							<a href="#"> <i class="linecons-cog"></i>
							</a> <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span>
								<span class="expand-icon">+</span>
							</a> <a href="#" data-toggle="reload"> <i class="fa-rotate-right"></i>
							</a> <a href="#" data-toggle="remove"> &times; </a>
						</div>
					</div>
					<div class="panel-body">

						<div class="table-responsive" data-pattern="priority-columns"
							data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
							data-add-display-all-btn="true" data-add-focus-btn="true">

							<table cellspacing="0"
								class="table table-small-font table-bordered table-striped"
								id="resumen">
								<thead>
									<tr class="replace-inputs">
										<th>Gerencia</th>
										<th>Ruta</th>
										<th>Abonos</th>
										<th>Comisión</th>
										<th>Desembolsos</th>
										<th>Caja</th>
										<th>Cartera</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="rutaItem in itemsResumen">
										<td>{{rutaItem.gerencia}}</td>
										<td>{{rutaItem.ruta}}</td>
										<td>{{rutaItem.abono | currency}}</td>
										<td>{{rutaItem.comision | currency}}</td>
										<td>{{rutaItem.desembolso | currency}}</td>
										<td>{{rutaItem.caja | currency}}</td>
										<td>{{rutaItem.cartera | currency}}</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>

				</div>
			</div>
		</div>


<div class="panel panel-default" ng-show="selectedCredito">
	<div class="panel-heading">
		<h3 class="panel-title">Detalle de movimientos</h3>
	</div>
	<div class="panel-body">

		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="1">Unidad</th>
						<th data-priority="3">Tipo Mov.</th>
						<th data-priority="1">tipo Operación</th>
						<th data-priority="3">Tipo Gasto</th>
						<th data-priority="1">Fecha</th>
						<th data-priority="3">Usuario</th>
						<th data-priority="3">Referencia</th>
						<th data-priority="1">Cargo</th>
						<th data-priority="1">Abono</th>
						<th data-priority="1">Estatus</th>
						<th data-priority="3">Observaciones</th>
						<th data-priority="1">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in movimientosCaja">
						<td>{{item.nombreOrg}}</td>
						<td>{{item.tipoMov}}</td>
						<td>{{item.tipoOperacion}}</td>
						<td>{{item.tipoGasto}}</td>
						<td>{{item.fechaEmision}}</td>
						<td>{{item.idUsuario}}</td>
						<td ng-show="item.tipoOperacion!='Egreso por transferencia'">{{item.referenciaLarga}}</td>
						<td ng-show="item.tipoOperacion=='Egreso por transferencia'">{{item.referencia}}</td>
						<td class="right">{{item.cargo | currency}}</td>
						<td class="right">{{item.abono | currency}}</td>
						<td>{{item.estatusMovimiento}}</td>
						<td class="right">{{item.observaciones}}</td>
						<td><a
							ng-show="(item.estatusMovimiento=='Activo') &&
							 ((item.tipoOperacion=='Egreso por transferencia' && permisoCT)||(item.tipoOperacion=='Ingreso por transferencia' && permisoCT) || (item.tipoOperacion=='Desembolso por gasto' && permisoCG))"
							href=""
							ng-click="eliminar(item.idMovCaja,item.tipoOperacion,'NodeModal','lg')"
							class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


	</div>
</div>
