<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Reporte de Visitas</h3>
	</div>
	<div class="panel-body">
<alert type="info" ng-show="emptyForm">
		<strong>Introduzca criterios de b&uacute;squeda</strong>
	</alert>
	<alert type="warning" ng-show="emptyDatos">
		<strong>No se encontraron datos</strong>
	</alert>
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="region" multiple
									ng-model="filters.regiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="gerencia" multiple
									ng-model="filters.gerencias">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="ruta" multiple
									ng-model="filters.rutas" required>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Fecha de Inicial</label> <input
								class="form-control datepicker data-format=yyyy-mm-dd"
								data-start-view="2" placeholder="Fecha Inicial"
								ng-model="filters.fechaInicial">
						</div>
						<div class="col-md-6">
							<label class="control-label">Fecha de Final</label> <input
								class="form-control datepicker data-format=yyyy-mm-dd"
								data-start-view="2" placeholder="Fecha final"
								ng-model="filters.fechaFinal">
						</div>
					</div>
					<div class="form-group-separator"></div>

					<div class="form-group" align="right">
						<a href="" ng-click="reload();"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Consultar </a> <a href=""
							ng-click="reporteVisitas('html');"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt">Generar
							Reporte</a> <a href="" ng-click="reporteVisitas('excel')"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							ng-style="{'width':'121px'}">Generar Excel</a>
					</div>


				</form>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Ruta Crédito</th>
						<th data-priority="3">ID Crédito</th>
						<th data-priority="3">Fecha Visita</th>
						<th data-priority="3">ID Cliente</th>
						<th data-priority="3">Nombre Cliente</th>
						<th data-priority="3">Motivo</th>
						<th data-priority="3">Visitó</th>
						<th data-priority="3">Unidad (visita)</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in Visitas">
						<td>{{item.rutaCliente}}</td>
						<td>{{item.idCredito}}</td>
						<td>{{item.fechaVisita}}</td>
						<td>{{item.idCliente}}</td>
						<td>{{item.nombreCliente}}</td>
						<td>{{item.idMotivo}}</td>
						<td>{{item.idUsuario}}</td>
						<td>{{item.idOrg}}</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>