<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
	
		<h3 class="panel-title">Avisos</h3>
		<div class="panel-options btn1">
			<a
				ui-sref="app.avisos-registro({avisoItem:avisItem, listaAvisos:listaAvisos})"
				type="submit" class="btn btn-success">Nuevo</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-options"></div>

<<<<<<< HEAD
	<div class="page-container">
		<!-- 	<div class="col-sm-13"> -->
		<div class="page-header">
			<blockquote class="blockquote blockquote-success">
				<h2>
					<p>
						<strong>Avisos</strong>
					</p>
				</h2>
				<p>
					<small class="text-Green">Usted tiene avisos que necesita
						revisar!!!</small>
				</p>

				<div class="col-xs-12"></div>
				<div class="carousel slide" id="myCarousel">
					<div class="carousel-inner">
						<div class="item active">
							<ul class="thumbnails">
								<li class="col-sm-6">
									<div class="fff">
										<div class="thumbnail">
											<a href="#"><img src="assets/images/panda.jpg" alt=""></a>
										</div>
										<div class="caption">
											<h4>Praesent commodo</h4>
											<p>Nullam Condimentum Nibh Etiam Sem</p>
											<a class="btn btn-mini" ui-sref="app.anuncio({})">» Read
												More</a>
										</div>
									</div>
								</li>
								<li class="col-sm-6">
									<div class="fff">
										<div class="thumbnail">
											<a href="#"><img src="assets/images/panda.jpg" alt=""></a>
										</div>
										<div class="caption">
											<h4>Hola</h4>
											<p>Panda</p>
											<a class="btn btn-mini" ui-sref="app.anuncio({})">» Leer
												mas</a>
										</div>
									</div>
								</li>
								</ul>
								<ul class="thumbnails">
								<li class="col-sm-6">
									<div class="fff">
										<div class="thumbnail">
											<a href="#"><img src="assets/images/panda.jpg" alt=""></a>
										</div>
										<div class="caption">
											<h4>Hola</h4>
											<p>Panda</p>
											<a class="btn btn-mini" ui-sref="app.anuncio({})">» Leer
												mas</a>
										</div>
									</div>
								</li>
								<li class="col-sm-6">
									<div class="fff">
										<div class="thumbnail">
											<a href="#"><img src="assets/images/panda.jpg" alt=""></a>
										</div>
										<div class="caption">
											<h4>Hola</h4>
											<p>Panda</p>
											<a class="btn btn-mini" ui-sref="app.anuncio({})">» Leer
												mas</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- /Slide1 -->
						<div class="item">
							<ul class="thumbnails">
								<li class="col-sm-3">
									<div class="fff">
										<div class="thumbnail">
											<a href="#"><img src="assets/images/panda.jpg" alt=""></a>
										</div>
										<div class="caption">
											<h4>{{avisoItem.asunto}}</h4>
											<p>Panda</p>
											<a class="btn btn-mini" ui-sref="app.anuncio({})">» Leer
												mas</a>
										</div>
									</div>
								</li>
							</ul>
=======
			<div class="tab-content no-margin">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="born">Realiza una
								busqueda</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa-search"></i>
								</div>
								<input type="text" class="form-control" id="nombre"
									placeholder="Nombre" ng-model="filters.categoria">
							</div>
>>>>>>> cc84a622a03401fde2b1b9fda93f56311cb94e64
						</div>
					</div>


				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-88">
				<div class="row">
					<div class="col-lg-3" ng-repeat="avisItem in avisos">
						<div class="cuadro_intro_hover "
							style="background-color: #cccccc;">
							<p style="text-align: center; margin-top: 20px;">
								<img
									src="http://trovacamporella.com/img/trovacamporella-fiat500.png"
									class="img-responsive" alt="">
							</p>
							<div class="caption">
								<div class="blur"></div>
								<div class="caption-text">
									<h3
										style="border-top: 2px solid white; border-bottom: 2px solid white; padding: 10px;">
										{{avisItem.asunto}}</h3>
									<h2 style="border-bottom: 2px solid white;">$
										{{avisItem.categoria}}</h2>
									<h6>Descripción: {{avisItem.descripcion}}</h6>
									<a
										ui-sref="app.avisos-registro({avisoItem:avisItem, listaAvisos:listaAvisos})"
										class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
										title="Editar"> </a> <a href=""
										class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
										title="Eliminar"> </a> <a
										ui-sref="app.imagen-producto({entidad: repository.loggedUser.idUsuario, figura : 'FIG_EMPLEADO' })"
										class="btn btn-info btn-sm btn-icon icon-left fa fa-file-image-o"
										title="Documentos"> </a>

									<button class=" btn btn btn-success botones"
										ui-sref="app.publicproductos({})">
										<span class="glyphicon glyphicon-plus">Detalles</span>
									</button>

								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>