<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Registro de Aviso"
	description="Debe ingresar la información completa"></page-title>

<div class="panel panel-default">
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">
		<form role="forl" id="saveProduct" class="validate" validate name="saveProduct"
			ng-submit="submitTheForm()" method="post">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="fam_pro">Tipo de
							Aviso</label>
								<div class="input-group">
							 <div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div>
									<select name="fam_pro" class="form-control"
							ng-model="avisoItem.idTipoAviso" required
							title="Campo obligatorio">
							<option value="">---Seleccione un tipo de aviso---</option>
							<option ng-repeat="catalogItem in listaAvisos.items"
								value="{{catalogItem.idCatalogo}}"
								ng-selected="catalogItem.idCatalogo==avisoItem.idTipoAviso">{{catalogItem.nombre}}</option>

						</select>
					</div>
						</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="full_name">Asunto
							</label><div class="input-group">
							 <div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div> <input class="form-control" name="full_name"
							id="full_name" placeholder="Ingrese el tipo de asunto"
							ng-model="avisoItem.asunto" title="Campo obligatorio" required />
					</div>
					</div>
				</div>
			</div>
			<div class="row">
			<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Fecha Aviso</label> 
						<div class="input-group">
							 <div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div><input
							class="form-control datepicker" data-start-view="2" ng-model="avisoItem.fechaAviso" 
							placeholder="Ingrese la fecha ">
					</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="precio">Lugar</label> 
						<div class="input-group">
							 <div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div>
						<input class="form-control" name="full_name"
							id="full_name" placeholder="lugar de vacaciones"
							ng-model="avisoItem.lugar" title="Campo obligatorio" required />
					</div>
				</div>
				</div>
			</div>
			<div class="row">
			</div>
			<div class="row">
			<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="field-5">Descripción detallada</label>
						<div class="input-group">
							 <div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div>
						<textarea class="form-control" cols="5" id="field-5"
							ng-model="avisoItem.descripcion"></textarea>
					</div>
				</div>	
				</div>			
			</div>
			<ul class="pager wizard">
				<p align="right">
					<button type="submit" align="right" class="btn btn-success" ng-disabled="!saveProduct.$valid">Validar</button>
				</p>

			</ul>
		</form>
		<!-- Main Footer -->
		<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
		<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
		<!-- Or class "fixed" to  always fix the footer to the end of page -->

	</div>
	</div>