﻿<div class="panel panel-default">
<page-title ng-if="layoutOptions.pageTitles" title="Cuestionarios rechazados > Ver Detalle" description=""></page-title>
	<div class="panel-heading">
		<h3 class="panel-title">01. Evaluación del Servicio</h3>
		
		<div class="panel-options btn1"><a href="index.html#/app/users-registro_usuarios" type="submit" class="btn btn-success">Enviar Formulario</a></div>
	</div>
	<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>01. Imagen del vendedor</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento: Lineamiento 10 (Evaluación de Servicio-Imagen del vendedor)</label>
            	
					</div>
					
					<div class="form-group">
                        <label class="control-label">1.-¿Los vendedores dan buena imagen (Mujer: Peinado recogido, maquillaje discreto, tatuajes no visibles, libre de accesorios en muñecas (excepto reloj), esmalte de uñas en colores claros o pasteles • Hombre: Cabello corto, bigote o barba arreglada y corta, tatuajes no visibles, uñas limpias y recortadas</label>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>


                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p>  
                        <p><label class="control-label">Evidencia:</label></p>
                        <input type="file" class="form-control" id="field-4">
                        					</div>
                      <input type="hidden" name="s2example-4" id="s2example-4" />												
                      </div>			
                      </div> 
                      
                      

 <div class="panel-body"> 
                    <div class="panel-body">
                    				<h4 class="panel-title"><u>02.RECIBE (Atención y  Amabilidad del vendedor)</u></h4>				
                                    <form role="form">										<div class="form-group">						<label class="control-label">Lineamiento: Lineamiento 10 (Evaluación de Servicio-Atención y amabilidad del vendedor)</label>            						</div>										<div class="form-group">                        <label class="control-label">1.- ¿Fue recibido con un saludo (frase de bienvenida) ó una sonrisa?  (en caso de no ser el cliente en turno, fue reconocido y le indicaron que en un momento lo atenderían) </label>			                        							<p><select class="form-control">                                <option></option>								<option>Si</option>								<option>No</option>							</select></p>                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p>                         <p><label class="control-label">Evidencia:</label></p>                         <input type="file" class="form-control" id="field-4">					</div>														<input type="hidden" name="s2example-4" id="s2example-4" />												</div>									</form>		</div>                                
                                    
                                    
                                    <div class="panel-body"> 
                                                       <div class="panel-body">
                                                       				<h4 class="panel-title"><u>03. INVESTIGA (Detección de Necesidades)</u></h4>
                                                                    				<form role="form">
                                                                                    <div class="form-group">						<label class="control-label">Lineamiento 10 Evaluación de Servicio-Detección de necesidades)</label>            						</div>										<div class="form-group"> <p>                       
                        <label class="control-label">1.- ¿El vendedor preguntó por tu problema o proyecto (qué es lo que necesitaba o buscaba)?</label>	<p>
                        <p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p> 
                        <p><label class="control-label">2.- ¿El vendedor realizo al menos tres preguntas de investigación de necesidades como: identifica que va hacer (pintar barnizar, impermeabilizar); lugar de aplicación  (interior - exterior) y condiciones de la superficie (limpia, nueva, problemas de humedad, salitre, oxido)</label>	<p>				                        							<p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p>     
                                                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p>                         <p><label class="control-label">Evidencia:</label></p>                         <input type="file" class="form-control" id="field-4">					</div>														<input type="hidden" name="s2example-4" id="s2example-4" />												</div>									</form>		</div>                        <div class="panel-body">                    <div class="panel-body">				<h4 class="panel-title"><u>04.  ATIENDE (Asesoría del vendedor)</u></h4>				<form role="form">										<div class="form-group">						<label class="control-label">Lineamiento 10 (Evaluación de Servicio-Asesoría del vendedor)</label>            						</div>										<div class="form-group"><p>                        
                        <p><label class="control-label">1.- ¿El vendedor se apoyó  en alguna herramienta de venta para ayudarle a seleccionar el producto? (cuáles)</label><p>                        <p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p> 
                        <p><label class="control-label">2.- Detalle cuales</label>	<p>
                        <p><input type="text" class="form-control" id="field-1" placeholder=""></p> 
                        
                        <p><label class="control-label">3.- ¿El vendedor le ofreció al menos dos alternativas? (marcas, presentaciones, etc.)</label>	<p>
                        <p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p> 
                        <p><label class="control-label">4.- ¿El vendedor explicó como se aplica el producto?</label><p>
                        <p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p> 
                        <p><label class="control-label">5.- ¿El vendedor le ofreció productos para el preparado? </label><p>
                        <p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p> 
                        <p><label class="control-label">6.- ¿El vendedor le ofreció productos para el sellado de superficie?</label><p>
                        <p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p> 	
                        <p><label class="control-label">7.- ¿El vendedor le ofreció productos para el acabado de superficie?</label>	<p>	
                        		                        							<p><select class="form-control">                                <option></option>								<option>Si</option>								<option>No</option>							</select></p>                         <p><label class="control-label">Evidencia:</label></p>                         <input type="file" class="form-control" id="field-4">					</div>														<input type="hidden" name="s2example-4" id="s2example-4" />												</div>									</form>		</div>                        
                        


<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>05. CIERRA (Promociones y Descuentos)
</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10 (Evaluación de Servicio-Promociones y descuentos)</label>
            	
					</div>
					
					<div class="form-group">
                        <label class="control-label">1.- ¿Le ofrecieron la promoción vigente?</label>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>


                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p> 
                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
             </div>														
             <input type="hidden" name="s2example-4" id="s2example-4" />												
             </div>			
             </div>  
             
             
             
             
            <div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>06. CIERRA ( Forma de pago y servicios adicionales) </u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10 (Evaluación de Servicio-Forma de pago)</label>
            	
					</div>
					
					<div class="form-group"><p>
                        <p><label class="control-label">1.- ¿El vendedor le menciono las formas de pago? </label><p>	
                        <p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p>
                        <p><label class="control-label">2.- ¿Le entregaron nota, ticket o factura de su compra sin ningún contratiempo?</label><p>
                        <p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p>	
                        <p><label class="control-label">3.- ¿Aceptan tarjetas de crédito y/o débito? (PREGUNTAR SI ACEPTAN TARJETAS)</label><p>	
                        <p><select class="form-control">
                                                        <option></option>
                                                        <option>Si</option>	
                                                        <option>No</option>	
                                                        </select></p>
                        <p><label class="control-label">4.- El vendedor le ofreció el servicio a domicilio </label><p>
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>


                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p> 
                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
             </div>														
             <input type="hidden" name="s2example-4" id="s2example-4" />												
             </div>			
             </div> 
             
             
             
             <div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>Preguntas Adicionales </u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label"></label>
            	
					</div>
					
					<div class="form-group"><p>
                        <p><label class="control-label">1.- Nombre del vendedor que me atendió </label><p>
                        <p><input type="text" class="form-control" id="field-1" placeholder=""></p>	
                        <p><label class="control-label">2.- ¿Qué producto compré?</label><p>	
                        <p><input type="text" class="form-control" id="field-1" placeholder=""></p>	
                        <p><label class="control-label">3.- Costo del Producto comprado</label><p>	                        
                        <p><input type="text" class="form-control" id="field-1" placeholder=""></p>	

                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
             </div>														
             <input type="hidden" name="s2example-4" id="s2example-4" />												
             </div>			
             </div> 
             
             
 
 
 
<br />
<br />
<p></p>
<p></p>
<p></p>
<p></p>

 <div class="panel-heading">
		<h3 class="panel-title">02.  EVALUACION FISICA</h3>
		
	</div>
	<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>07. Uniforme del Vendedor</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10 (Evaluación Física-Uniforme del vendedor)</label>
            	
					</div>
					
					<div class="form-group"><p>
                        <p><label class="control-label">1.- ¿El (los) vendedor (os), utiliza  camisola o playera con el logo de la tienda/Comex?</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">2.- ¿El (los) vendedor (os), portan zapato de seguridad o protección? (NO TENNIS) Criterios: Solo considerar personal de la tienda, personal que sea de corporativo u otra tienda no considerarlo (se le preguntará al encargado quienes son personal de la tienda)</label><p>			
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>


                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p>
                        <p><label class="control-label">Evidencia:</label></p>   
                        <input type="file" class="form-control" id="field-4">					
                        </div>														
                        <input type="hidden" name="s2example-4" id="s2example-4" />												
                        </div>			
                        </div>  
                        
                        
 <div class="panel-body">
				<h4 class="panel-title"><u>08. Herramientas de Color</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10 (Evaluación Física-Herramientas de color)</label>
            	
					</div>
					
					<div class="form-group"><p>
                        <p><label class="control-label">1.-¿El centro de igualado se encuentra en funcionamiento? </label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">2.- ¿El centro de igualado se encuentra limpio y en buen estado?  Criterios: El centro de igualado no debe tener manchas excesivas de pintura (que se observe una sobre otra en exceso y de mucho tiempo) , además deberás de pasar la mano por encima del centro de igualado, no importa  la antigüedad del mismo debe estar libre de polvo.</label><p>		
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">3.- ¿La tienda cuenta con Display de color Life (rack de color) ? </label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">4.- ¿El Display de color Life se encuentra limpio? (SOLO SI CONTESTO QUE SI TIENE)</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>	
                        <p><label class="control-label">5.- ¿El Display de color Life se encuentra lleno de muestras? (SÓLO SI CONTESTÓ QUE SI TIENE)</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">6.- En caso de no encontrar el Display de color Life, preguntar ¿Por qué no cuentan con el? (explicar detalle)</label><p>
                        <p><input type="text" class="form-control" id="field-1" placeholder=""></p>
                        <p><label class="control-label">7.- ¿Cuenta con cartas de espacio de uso? (Sino se reconoce, indicar que es la carta que viene por recamará, sala, cocina, baño, comedor etc)</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">8.- ¿La tienda cuenta con ejemplares de la revista Sensaciones para su venta?</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">9.- ¿La tienda cuenta con Decorador Virtual?</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">10.- ¿En la tienda que visitó funciona el Decorador Virtual? Criterio: Prende y tiene la aplicación (SOLO SI CONTESTO SI EN LA ANTERIOR)</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">11.- ¿Se cuenta con taco de color para consulta del cliente?</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">12.- ¿El taco de color se encuentra limpio y en buenas condiciones?   Criterios: Si a la vista se ve sucio, tiene manchas de pintura ó está roto</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">13.-¿Cuenta con los muestrarios de color? (vinimex, esmalte, pro1000, realflex)</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">14.- ¿Cuenta con lanzamiento de Master Plus?</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">15.- ¿Cuenta con lanzamiento de practika?</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>


                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p>
                        <p><label class="control-label">Evidencia:</label></p>   
                        <input type="file" class="form-control" id="field-4">					
												
                        </div>			
                        </div>
                                             
<div class="panel-body">                      
 <div class="panel-body">
				<h4 class="panel-title"><u>09.  Limpieza de la tienda aspectos internos</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10 (Evaluación Física-Limpieza de la tienda)</label>
            	
					</div>
					
					<div class="form-group"><p>
                        <p><label class="control-label">1.- ¿El piso y los pasillos se encuentran libres de productos? (botes de pintura, cajas, deshechos, basura, tambores, cubetas, escobas)</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">2.- ¿Las paredes y techo se encuentran limpios y en buenas condiciones? (No grietas, bien pintadas, sin muestras de aplicación de producto en la pared, ni logos  y techo sin faltante de plafón)</label><p>		
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                        <p><label class="control-label">3- ¿El mostrador y anaqueles se encuentran limpios, sin manchas y sin objetos que obstruyan la interacción con el cliente, salvo los autorizados por Comex para campaña, promocionales o herramientas de venta? Criterios: Se revisa que no haya manchas en el mostrador, además deberás de pasar la mano sobre el mostrador y verificar que no tenga polvo. Los anaqueles que estén a  la  vista del cliente no deben de tener demasiado polvo. La forma de revisarlo será  levantando el producto y verificando que no deje la marca del mismo en el anaquel</label><p>
                        <p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>


                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p>
                        <p><label class="control-label">Evidencia:</label></p>   
                        <input type="file" class="form-control" id="field-4">					
                        </div>																
                        </div>
                        

<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>10. Seguridad</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10  y Lineamiento 3</label>
            	
					</div>
					
					<div class="form-group">
                        <p><label class="control-label">1.- ¿Cuenta con señalamientos de seguridad (ruta de evacuación visible al consumidor, no fumar, que hacer en caso de sismo e incendio y salida de emergencia? </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">2.- ¿Los extintores se encuentran con fecha actualizada de recarga?  Criterios: Si no cuentan con la fecha de recarga o la válvula no funciona, puede aceptarse la carta que indica que la carga esta vigente</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">3.- ¿La instalación eléctrica está oculta o canalizada, los contactos y apagadores están con tapa (no saturados, no cables expuestos) </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">4.- ¿Las lámparas se encuentran funcionando adecuadamente? (no fundidas, no parpadean) Nota: si estan apagados solicitar al encargado que las prenda para verificar que todas sirvan </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">5.-Vende thinner a granel (Pase a P6-P7, en caso de ser negativa la respuesta, pase a sección Fachada y aspectos externos)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">6.- ¿Cuenta con los elementos (kit) para trasvase de solventes? DEBE CONTAR CON ALMENOS 4  Revisar diagrama</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">7.- ¿Cuenta con el equipo de protección Personal adicional? CONTAR CON ALMENOS LOS PRIMEROS 3  Revisar diagrama</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            


                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p> 
                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
											
             </div>			
             </div>  
             
             
             
             
<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>11. Fachada y aspectos externos</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10  y Lineamiento 1</label>
            	
					</div>
					
					<div class="form-group">
                        <p><label class="control-label">1.- ¿La fachada está bien pintada y en buenas condiciones? (Sin griesta, No grafitti  y razones sociales)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">2.- ¿La tienda cuenta con la imagen autorizada? (Logo, Colores, Resguardo de Marca, Anuncios)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">3. ¿La tienda cuenta con lonas institucionales colocadas correctamente sin obstruir la fachada? (NA para tiendas sin espacio para lonas, o que el municipio no permita)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">4.- ¿La tienda cuenta con facilidad de estacionamiento para sus clientes no mayor 20 Mts de la tienda y señalizado u ofrece este servicio? (SI NO LO VE, PREGUNTE AL vendedor SI TIENEN ESTACIONAMIENTO)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">5. ¿La tienda cuenta con la imagen nueva (círculos - brocahazo de color)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">6. ¿La tienda cuenta con la rotulación de servicios? (servicio a domicilio, tarjetas, teléfono y horario)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>                            


                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p> 
                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
											
             </div>			
             </div> 
             
             
             
             
             
<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>12. Planograma General de la Tienda</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10 y Lineamiento 1</label>
            	
					</div>
					
					<div class="form-group">
                        <p><label class="control-label">1.- ¿Los complementos se encuentran acomodados de acuerdo al planograma? (Revisar planograma de complementos)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">2.- ¿El producto se encuentra acomodado con base en el planograma? VER PLANOGRAMA DEL MANUAL</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">3.- ¿Los productos están frenteados? (La etiqueta o marca esta mirando hacia usted)  Criterios: Los productos  deberán de estar frenteados mínimo en un 90% de los anaqueles para no ser penalizados</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">4.-¿El frente de los anaqueles contiene producto en un 90% de su totalidad?</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">5.- La tienda tiene cubetas en el piso </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">6.-Si hay cubetas en el piso, ¿las cubetas se encuentran alineadas simulando plataforma? CRITERIO:  Pueden estibarse en piso simulando una plataforma de <strong>(estiba x columna x fila)</strong> 3x3x3, 3x3x1, 3x3x2 y 3x2x2 (no más de 3 escenarios) </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>     
                            
                            
                            <p><label class="control-label">7.- ¿Todos los productos se encuentran etiquetados (etiqueta corporativa) , no productos re envasados?  Criterios: No puede haber botes sin etiquetas, si observas al menos uno se penaliza</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>                            


                            <p><label class="control-label">8.- ¿Los productos se encuentran en buenas condiciones? (no golpes, etiquetas rotas, imagen anterior, manchados de pintura) Criterios: Los productos deberán estar en buenas condiciones al menos en 90% de los anaqueles.</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>       
                            
                            
                            <p><label class="control-label">9.- ¿Cuenta con preciadores en los anaqueles?  Criterios: Todos los productos visibles al cliente deben de tener preciadores al menos uno por familia de productos.</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>    

                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p> 
                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
											
             </div>			
             </div> 
             
             
             

<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>13. Guía de Ejecución de Campaña</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10 y Lineamiento 4</label>
            	
					</div>
					
					<div class="form-group">
                        <p><label class="control-label"> ¿Hay campaña nacional en curso? SHOPPER: Si el empleado dice que no hay campaña, verificar vs el calendario entregado cada ola. (En caso de no haber campaña todo el rubro es NA y pasar al siguiente segmento)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">1.- ¿El empleado de tienda cuenta con la guía de ejecución de campaña?</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">2.- El producto de promoción vigente está exhibido en las cabeceras y/o islas? (está a la vista)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">3.- ¿Los materiales POP están colocados de acuerdo a la guía de ejecución de campaña? (en caso de que aplique campaña nacional) </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">4.-¿Tiene lona o pendón de campaña? (Debe de tener alguno de los dos)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">Detallar si tiene lona o pendón y cuántos:</label><p>			
                        

							<p><input type="text" class="form-control" id="field-1" placeholder=""></p>     
                            
                            
                            <p><label class="control-label">5.- Si tiene lona, están colocadas en un lugar que no obstruya la visibilidad</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>                            


                            <p><label class="control-label">6.- Cuenta con inciativa "vamos por 3" ( Por lo menos un vendedor debe contar con la playera y el boton de vamos por 3 o con tent card) </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>       
                      

                        <p><input type="text" class="form-control" id="field-1" placeholder="Comentario..."></p> 
                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
											
             </div>			
             </div> 
             
             
             
<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u> Preguntas Adicionales</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label"></label>
            	
					</div>
					
					<div class="form-group">                      
                        <p><label class="control-label">1.- Nombre completo del encargado de la tienda</label><p>	
                        <p><input type="text" class="form-control" id="field-1" placeholder=""></p> 
                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
											
             </div>			
             </div> 



<br />
<br />
<p></p>
<p></p>
<p></p>
<p></p>

 <div class="panel-heading">
		<h3 class="panel-title">MARCO REGULATORIO</h3>
		
	</div>
	<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>14. Exclusividad de la marca</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 1 Exclusividad y uso de marca(Exclusividad)</label>
            	
					</div>
					
					<div class="form-group"><p>
                        <p><label class="control-label">1.- ¿Encuentra productos SOLO autorizados por Comex?  (Anotar también categorías que no son semejantes a la nuestra por ejemplo: refrescos, dulces, etc) (Tomar foto como evidencia)</label><p>                        
                        <p><input type="text" class="form-control" id="field-1" placeholder="OBLIGATORIO: COMENTARIOS NEGATIVOS O NO CUMPLIMIENTOS, EN CASO DE ENCONTRAR PRODUCTO NO AUTORIZADO POR COMEX"></p>
                        <p><label class="control-label">Evidencia:</label></p>   
                        <input type="file" class="form-control" id="field-4">					
                        </div>														
                        <input type="hidden" name="s2example-4" id="s2example-4" />												
                        </div>			
                        </div> 
                        
                        
  
<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>15. Politica de precios</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 2 Política de Precios </label>
            	
					</div>
					
					<div class="form-group">
                        <p><label class="control-label"> Preguntar si Litro Esmalte 100 brillante blanco esta en promoción </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">Preguntar Precio Litro Esmalte 100 brillante blanco </label><p>			
                        

							<p><div class="input-group"><span class="input-group-addon">$</span>
								<input type="text" class="form-control">
								<span class="input-group-addon">.00</span></div></p>
                            
                            <p><label class="control-label">Preguntar si Galón Vinimex Satin Blanco esta en promoción</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">Preguntar precio Galón Vinimex Satin Blanco</label><p>			
                        

							<p><div class="input-group"><span class="input-group-addon">$</span>
								<input type="text" class="form-control">
								<span class="input-group-addon">.00</span></div></p>                                               

                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
											
             </div>			
             </div>
             
             
             
<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>16. Cumplimiento Normativo</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 3 Cumplimientos legales</label>
            	
					</div>
					
					<div class="form-group">
                        <p><label class="control-label"> 1.- ¿Cuenta con los Avisos de Privacidad? Criterio: Debe contar con 2 avisos a la vista: (1) Aviso de Privacidad Comex y (2) Aviso de Privacidad Concesionario. Así como tener en sus archivos el (3) Aviso de Privacidad Completo Concesionario. </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">4. ¿Cuenta con  un  Programa interno de Protección Civil?</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">5. ¿Cuenta con Licencia de Funcionamiento/Aviso de Declaración de Apertura? </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>                                              

                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
											
             </div>			
             </div>
             
             

<div class="panel-body">
			<div class="panel-body">
				<h4 class="panel-title"><u>17. Portafolio Básico</u></h4>
				<form role="form">
					
					<div class="form-group">
						<label class="control-label">Lineamiento 10 Portafolio Básico</label>
            	
					</div>
					
					<div class="form-group">
                        <p><label class="control-label"> Productos: Esmalte (Galón de Acqua 100 Blanco brillante)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">Productos: Esmalte (Galón de Primario # 2 Gris Claro)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">Productos: Esmalte (Galon Flash Coat brillante)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">Productos: Maderas (Litro de tinta alcohol Nogal) </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">Productos: Maderas (Litro de Barniz Tinte Color Life) </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            <p><label class="control-label">Productos: Maderas (Galon Poly Form alto desempeño)</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>    
                            
                            
                            <p><label class="control-label">Productos: COMPLEMENTO  Brocha Comex PN 4</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>                            


                            <p><label class="control-label">Productos: COMPLEMENTO  Comex Felpa Lisa Microfibra </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>    
                            
                            
                            <p><label class="control-label">Producto: Alkafin base agua galon </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>   
                            
                            
                            <p><label class="control-label">Productos: Inventa (Galón via color base agua amarillo) </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>       
                            
                            
                            <p><label class="control-label">Productos: Inventa (Litro de Albermex Azul Pavo) </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p> 
                            
                            <p><label class="control-label">SERVICIOS: Existe servicio a domicilio en la tienda </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            
                             <p><label class="control-label">SERVICIOS: Acepta tarjetas de crédito la tienda </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            
                            <p><label class="control-label">SERVICIOS: Ofrece servicio de igualación </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            
                            
                            <p><label class="control-label">Herramientas: Taco de color  ¿Se cuenta con taco de color para consulta del cliente? </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                            
                            
                            
                            <p><label class="control-label">Herramientas: Revista Sensaciones ¿La tienda cuenta con ejemplares de la revista Sensaciones para su venta?   
</label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>
                      
                      
                      <p><label class="control-label">Herramientas: Kit POP  Los materiales POP colocados de acuerdo a la guía de ejecución de campaña (en caso de que aplique campaña nacional) </label><p>			
                        

							<p><select class="form-control">
                                <option></option>
								<option>Si</option>
								<option>No</option>
							</select></p>

                        <p><label class="control-label">Evidencia:</label></p>                        
                         <input type="file" class="form-control" id="field-4">	
											
             </div>			
             </div>