<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="{{taskInfo.name}}" description="{{taskInfo.description}}"></page-title>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos del cliente</div>
		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<!-- Default panel -->
	<div class="collapsed panel-default">
		<!-- Add class "collapsed" to minimize the panel -->
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">RFC</label>
						<p>
							<input class="form-control" name="rfc" type="text" id="rfc"
								ng-model="credito.cveFiscal" ng-disabled="true" />
						</p>
						<!-- <p>{{cliente.cveFiscal}}</p>-->
					</div>
					<div class="form-group">
						<label class="control-label">Ruta</label>
						<p>
							<input class="form-control" name="ruta" type="text" id="ruta"
								ng-model="credito.ruta" ng-disabled="true" />
						</p>
						<!--  <p>{{credito.ruta}}</p>-->
					</div>
					<div class="form-group">
						<label class="control-label">Codeudor</label>
						<p>
							<input class="form-control" name="ruta" type="text" id="ruta"
								ng-model="credito.nombreCoDeudor" ng-disabled="true" />
						</p>
						
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Cliente</label>
						<p>
							<input class="form-control" name="cliente" type="text"
								id="cliente" ng-model="credito.nombreCliente" ng-disabled="true" />
						</p>
						<!-- <p>{{credito.nombreCliente}}</p>-->
					</div>
					<div class="form-group">
						<label class="control-label">Titular</label>
						<p>
							<input class="form-control" name="titular" type="text"
								id="titular" ng-model="credito.titularRuta" ng-disabled="true" />
						</p>
						<!-- <p>{{credito.titularRuta}}</p>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="collapsed panel-default">
		<div class="panel-body">
			<div class="col-md-6">
				<div class="panel-heading">
					<div class="panel-title encabezados">Documentos del cliente</div>
					<small class="text-small pull-right" style="padding-top: 5px;">
					</small>
				</div>
				<table class="table table-bordered table-striped" id="documentos">
					<thead>
						<tr>
							<th width="30%" class="text-left">Nombre del documento</th>
							<th width="40%" class="text-left">Tipo de documento</th>
							<th class="text-center">Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="documentoItem in credito.documentos">
							<td>{{documentoItem.nombre}}</td>
							<td>{{documentoItem.tipoDocumento}}</td>
							<td class="text-center"><a
								class="btn btn-secondary btn-sm btn-icon icon-left fa fa-download"
								title="Ver" ng-click="display(documentoItem,'modal-displayCreditDocument')"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<div class="panel-heading">
					<div class="panel-title encabezados">Documentos del Codeudor</div>
					<small class="text-small pull-right" style="padding-top: 5px;">
					</small>
				</div>
				<table class="table table-bordered table-striped"
					id="documentosCodeudor">
					<thead>
						<tr>
							<th width="30%" class="text-left">Nombre del documento</th>
							<th width="40%" class="text-left">Tipo de documento</th>
							<th class="text-center">Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="documentoItemCo in credito.doctosCodeudor">
							<td>{{documentoItemCo.nombre}}</td>
							<td>{{documentoItemCo.tipoDocumento}}</td>
							<td class="text-center"><a
								class="btn btn-secondary btn-sm btn-icon icon-left fa fa-download"
								title="Ver" ng-click="display(documentoItemCo,'modal-displayCreditDocument')"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos generales</div>

		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">

		<form role="forl" id="saveproject" class="validate" validate
			name="saveproject">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Producto</label> <input type="text"
							data-validate="number" class="form-control" name="PlazoC"
							ng-model="credito.producto" ng-disabled="true" />

					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Monto</label> <input
							class="form-control" name="monto" type="number" id="monto"
							ng-model="credito.monto" ng-disabled="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Plazo</label> <input type="text"
							data-validate="number" class="form-control" name="PlazoC"
							ng-model="credito.plazo" ng-disabled="true" />

					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Unidade de plazo</label> <input
							type="text" data-validate="number" class="form-control"
							name="PagoC" ng-model="credito.unidadPlazo" ng-disabled="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Pago x Millar</label> <input
							type="text" data-validate="number" class="form-control"
							name="pagoMillar" ng-model="credito.pago" ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Forma de pago</label> <input
							type="text" data-validate="number" class="form-control"
							name="frecuenciaCobro" ng-model="credito.frecuenciaCobro"
							ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Comision</label> <input type="text"
							data-validate="number" class="form-control" name="comision"
							ng-model="credito.comision" ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Tasa de Referencia</label> <input
							type="text" data-validate="number" class="form-control"
							name="tasa" ng-model="credito.tasa" ng-disabled="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Co-Deudor</label> <input type="text"
							data-validate="number" class="form-control" name="PlazoC"
							ng-model="credito.nombreCoDeudor" ng-disabled="true" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div align="right" class="form-group">
						<button type="submit" class="btn btn-success"
							ng-disabled="disabledButtons" ng-click="submitTheForm(true)">Aprobar
						</button>
						<button type="submit" class="btn btn-success"
							ng-disabled="disabledButtons" ng-click="submitTheForm(false)">Rechazar
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/ng-template" id="modal-displayCreditDocument">
        <div class="modal-header">
                <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        </div>  
        <div class="modal-body" align="center">
                <embed ng-src="{{fileDownloaded}}" style="width:50%;height:50%;" type="{{typeFileDownloaded}}"></embed>
        </div>  
        <div class="modal-footer">
                <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button> 		
				<button ng-show = "allowDownload" type="button" class="btn btn-info" 
					ng-click="downloadDocument('/api/documentos/consultarDocumento/'+currentDocument.idDocumento,currentDocument.nombre); currentModal.close();">Save</button>          
        </div>
</script>
