<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="{{taskInfo.name}}" description="{{taskInfo.description}}"></page-title>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos del gasto</div>

		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">

		<form role="forl" id="saveproject" class="validate" validate
			name="saveproject">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Tipo de Gasto</label> <input
							class="form-control 
									data-start-view="
							2" ng-model="mc.nombreGasto" placeholder="Ingrese referencia"
							ng-disabled="true">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label class="control-label">Fecha de Operaci&oacute;n</label> <input
						class="form-control datepicker data-format=yyyy-mm-dd"
						data-start-view="2" ng-model="mc.fechaEmision"
						placeholder="Ingrese Fecha de Movimiento" ng-disabled="true">
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Monto</label> <input
							class="form-control" name="monto" value="" type="number"
							data-validate="required" title="Campo obligatorio, ingrese monto"
							placeholder="Ingrese monto" ng-model="mc.monto"
							ng-disabled="true">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label class="control-label">Referencia</label> <input
						class="form-control 
									data-start-view="
						2" ng-model="mc.referencia" placeholder="Ingrese referencia"
						ng-disabled="true">
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Descripci&oacute;n</label> <input
							class="form-control" name="descripcion" value=""
							title="Campo obligatorio, ingrese descripción"
							placeholder="Ingrese descripción" ng-model="mc.referenciaLarga"
							ng-disabled="true">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Documento</label>
						<table id="documento" class="table">
							<tr>
								<td> <input
									class="form-control" name="descripcion" value=""
									title="Documento de gasto" ng-model="documento.nombre"
									ng-disabled="true" /></td>
								<td class="text-center"><a
									class="btn btn-secondary btn-sm btn-icon icon-right fa fa-download"
									title="Ver"
									ng-click="display(documento,'modal-displayExpenseDocument')"
									ng-show="buttondocto"></a></td>
							</tr>
						</table>
					</div>					
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div align="right" class="form-group">
						<button type="submit" class="btn btn-success"
							ng-disabled="disabledButtons" ng-click="submitTheForm(true)">Aprobar
						</button>
						<button type="submit" class="btn btn-success"
							ng-disabled="disabledButtons" ng-click="submitTheForm(false)">Rechazar
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/ng-template" id="modal-displayExpenseDocument">
        <div class="modal-header">
                <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        </div>  
        <div class="modal-body" align="center">
                <embed ng-src="{{fileDownloaded}}" style="width:50%;height:50%;" type="{{typeFileDownloaded}}"></embed>
        </div>  
        <div class="modal-footer">
                <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button> 		
				<button ng-show = "allowDownload" type="button" class="btn btn-info" 
					ng-click="downloadDocument('/api/documentos/consultarDocumento/'+currentDocument.idDocumento,currentDocument.nombre); currentModal.close();">Save</button>          
        </div>
</script>
