

	<page-title ng-if="layoutOptions.pageTitles" title="Registro de Tipo de Cuestionario" description="Debe ingresar la información completa del tipo de cuestionario que se va a dar de alta en el sistema"></page-title>


<div class="panel panel-default">

	<div class="panel-heading">
		<div class="panel-title">
			Datos para Cuestionario
		</div>
		
		<small class="text-small pull-right" style="padding-top:5px;">
		</small>
	</div>
	
	<div class="panel-body">
	
		<form role="form" id="form1" method="post" class="validate">
			
			<div class="form-group">
				<label class="control-label">Nombre</label>
				
				<input type="text" class="form-control" name="nombre_region" data-validate="maxlength[2]" />
			</div>
			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success">Crear tipo de cuestionario</button>
			</div>
		
		</form>
	
	</div>

</div>


