

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Geografía</h3>
		
		<div class="panel-options btn1"><a href="#" type="submit" class="btn btn-success">Cargar</a></div>
	</div>
	<div class="panel-body">
		
		<!-- Default panel -->
		<div class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon" style="color: black">&ndash;</span>
						<span class="expand-icon" style="color: black">+</span>
					</a>
				</div>
			</div>
			
			<div class="panel-body">
			<form role="form">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" id="field-1" placeholder="Código postal">
						</div>	
					</div>
					
					<div class="col-md-6">						
						<div class="form-group">
							<input type="text" class="form-control" id="field-2" placeholder="Colonia">
						</div>	
					</div>
				</div>
			

				<div class="row">
					<div class="col-md-12">
						<input type="text" class="form-control" name="ru_telefono" placeholder="Municipio" />
					</div>
				</div>

		
		<div class="form-group-separator"></div>
			</form>
			</div>
		</div>
		
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false"  >
		<table class="table table-small-font table-bordered table-striped"  id="example-3">
			<thead>
				<tr class="replace-inputs">
					<th	>Código postal</th>
					<th data-priority="3">Colonia</th>
					<th data-priority="3">Estado</th>
					<th data-priority="3">Delegación/Municipio</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>07480</td>
					<td>San Pedro el Chico</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
				<tr>
					<td>07420</td>
					<td>El Coyol</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
				<tr>
					<td>07480</td>
					<td>San Pedro el Chico</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
				<tr>
					<td>07420</td>
					<td>El Coyol</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
				<tr>
					<td>07480</td>
					<td>San Pedro el Chico</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
				<tr>
					<td>07420</td>
					<td>El Coyol</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
				<tr>
					<td>07480</td>
					<td>San Pedro el Chico</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
				<tr>
					<td>07420</td>
					<td>El Coyol</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
				<tr>
					<td>07480</td>
					<td>San Pedro el Chico</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
				<tr>
					<td>07420</td>
					<td>El Coyol</td>
					<td>Distrito Federal</td>
					<td class="center">Gustavo A Madero</td>
				</tr>
			</tbody>
			
		</table>
		</div>
	</div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>