
<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Tiendas</h3>
		
		<div class="panel-options btn1"><a  class="btn btn-success" ng-click="openModal('modal-5', 'lg');">Cargar</a></div>
	</div>
	<div class="panel-body">
		
	
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="false"  >
		<table class="table table-small-font table-bordered table-striped"  id="example-3">
			<thead>
				<tr class="replace-inputs">
					<th data-priority="3">Consolidado</th>
					<th data-priority="3">Cadena</th>
					<th data-priority="3">No. Cadena</th>
					<th >Tipo establecimiento</th>
					<th>RFC</th>
                    <th>Razón social</th>
                    <th data-priority="3">Tipo organización</th>
                    <th>Nombre de tienda</th>
                    <th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>00091265</td>
					<td>GABRIEL FLORES ALCALA</td>
					<td></td>
					<td>TIENDA</td>
					<td>PIRA730130NR4</td>
                    <td>ARGELIA  PIÑA  RAMIREZ</td>
                    <td>PERSONA</td>
                    <td>PINTURAS TULTEPEC</td>
					<td>
						&nbsp;<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
						</a>
						
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
						</a>
						
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a>
					</td>
				</tr>
				<tr>
					<td>317992</td>
					<td>EDMUNDO ESTEBAN GUERRERO RAMIREZ</td>
					<td>501381</td>
					<td>TIENDA</td>
					<td>PCO1311159X1</td>
                    <td>POLIFORMA DE COLOR S DE RL DE CV</td>
                    <td>ORGANIZACION</td>
                    <td>SUCURSAL BARRIENTOS</td>
					<td>
						&nbsp;<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
						</a>
						
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
						</a>
						
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a>
					</td>
				</tr>
			</tbody>
			
		</table>
		</div>
	</div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>

<script type="text/ng-template" id="modal-5">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Cargar Archivo .XLSX</h4>
	</div>
	
	<div class="modal-body">
	
		<div class="row">

				
				<div class="form-group">
					<label for="field-1" class="control-label">Por favor, seleccione su archivo.</label>
					
					<input type="file" class="form-control" id="field-4">
				</div>	
				

			
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Subir</button>
	</div>
</script>