

	<page-title ng-if="layoutOptions.pageTitles" title="Registro de Usuario" description="Debe ingresar la información completa del usuario que se va a dar de alta en el sistema"></page-title>


<div class="panel panel-default">

	<div class="panel-heading">
		<div class="panel-title">
			Datos generales
		</div>
		
		<small class="text-small pull-right" style="padding-top:5px;">
		</small>
	</div>
	
	<div class="panel-body">
	
		<form role="form" id="form1" method="post" class="validate">
			
			<div class="form-group">
				<label class="control-label">Nombre de usuario</label>
				
				<input type="text" class="form-control" name="ru_telefono" data-validate="maxlength[2]" />
			</div>
			<div class="form-group">
				<label class="control-label">Contrasena</label>
				
				<input type="text" class="form-control" name="ru_telefono" data-validate="maxlength[2]" />
			</div>
			<div class="form-group">
				<label class="control-label">Confirmar contrasena</label>
				
				<input type="text" class="form-control" name="ru_telefono" data-validate="maxlength[2]" />
			</div>
			
			<div class="form-group">
				<label class="control-label">Nombres</label>
				
				<input type="text" class="form-control" name="ru_nombre" data-validate="required" data-message-required="Ingrese su nombre, por favor" />
			</div>
			
			<div class="form-group">
				<label class="control-label">Apellidos</label>
				
				<input type="text" class="form-control" name="ru_apellidos" data-validate="email"  />
			</div>
			
			<div class="form-group">
				<label class="control-label">E-mail</label>
				
				<input type="text" class="form-control" name="ru_email" data-validate="number,minlength[4]" />
			</div>
			
			<div class="form-group">
				<label class="control-label">Teléfono</label>
				
				<input type="text" class="form-control" name="ru_telefono" data-validate="maxlength[2]" />
			</div>
			
			<div class="form-group">
				<label class="control-label">Tipo de Usuario</label>
				
				<select name="ru_tipousuario">
                <option value="volvo">Administrador</option>
                <option value="saab">Proveedor</option>
                <option value="mercedes">Comerciante</option>
                <option value="audi">Ventas</option>
                </select>
                
                <!--<input type="text" class="form-control" name="number" data-validate="number"/>-->
			</div>
			
			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success">Registrar Ahora</button>
			</div>
		
		</form>
	
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Roles del usuario</h3>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success">Agregar</button></div>
	</div>
	<div class="panel-body">
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
		
			<table cellspacing="0" class="table table-small-font table-bordered table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Administrador</th>
					</tr>		
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
		// This JavaScript Will Replace Checkboxes in dropdown toggles
		jQuery(document).ready(function($)
		{
			setTimeout(function()
			{
				$(".checkbox-row input").addClass('cbr');
				cbr_replace();
			}, 0);
		});
		</script>
		<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>
	</div>
</div>
