<!-- Custom column filtering -->
<div class="panel panel-default txtparrafos">
    <div class="panel-heading">
        <h3 class="panel-title encabezados">Usuarios</h3>

        <div class="panel-options btn1 encabezados"><a  ui-sref="app.formuser({})"  type="submit" class="btn btn-success">Nuevo</a></div>
    </div>
    <div class="panel-body">

        <!-- Default panel -->
        <div class="panel panel-default">
            <!-- Add class "collapsed" to minimize the panel -->
            <div class="panel-heading">
                <h4 class="panel-title encabezados">Filtros</h4>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon" style="color: black">&ndash;</span>
                        <span class="expand-icon" style="color: black">+</span>
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">

                                <script type="text/javascript">
				jQuery(document).ready(function($)
				{
				    $("#rolefilter").select2({
						placeholder: 'Tipo de usuario',
						allowClear: true
					}).on('select2-open', function()
					{
						$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
					});

				});
                                </script>

                                <select class="form-control" id="rolefilter" ng-change="changeRol()" ng-model="filters.roles" multiple>
                                    <option></option>
                                    <option ng-repeat="roleVal in allRoles" ng-selected="{{role.ID}}" value="{{roleVal.ID}}">{{roleVal.Name}}</option>
                                </select>


                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="field-1" placeholder="Nombre" ng-model="filters.Name">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="field-2" placeholder="Apellido" ng-model="filters.LastName" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="mailfilteruser" ng-model="filters.UserEmail" name="mailfilteruser" placeholder="Mail" />
                        </div>
                    </div>

                    <div class="form-group-separator"></div>
                </form>
            </div>
        </div>


        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
            <table class="table table-small-font table-bordered table-striped" id="example-3">
                <thead>
                    <tr class="replace-inputs">
                        <th translate="USER_USERNAME"></th>
                        <th translate="USER_EMAIL"></th>
                        <th data-priority="3" translate="USER_NAME"></th>
                        <th data-priority="3" translate="USER_MIDDLENAME"></th>
                        <th data-priority="3" translate="USER_LASTNAME"></th>
                        <th data-priority="1" translate="GENERAL_ACTION"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="userItem in allUsers">
                        <td>{{userItem.UserName}}</td>
                        <td>{{userItem.Email}}</td>
                        <td>{{userItem.FirstName}}</td>
                        <td>{{userItem.MiddleName}}</td>
                        <td>{{userItem.LastName}}</td>
                        <td>
                            <a ui-sref="app.formuser({ userid: userItem.ID })"  class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
                            </a>
                            <a  ng-click="openModal('modalconfirmdelete','lg',userItem.ID);" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<script type="text/ng-template" id="modalconfirmdelete">
    <form role="form" id="formSection" name="formSection" method="post" class="validate" ng-submit="deleteUser()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Eliminar usuario</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <span>Estás seguro de eliminar el usuario?</span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            <button type="button" class="btn btn-red" ng-click="deleteUser();">Eliminar</button>
        </div>
    </form>
</script>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>