<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Consultar documentos</h3>
	</div>

	<div class="panel-body">

		<div class="row" ng-show="crearDocumento">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label" for="state">Tipo de Documento</label>
					<select id="idTipoDoc" name="idTipoDoc" class="form-control"
						ng-model="document.idTipoDoc" data-validate="required"
						data-message-required="Campo obligatorio"
						ng-change="showCreditField()">
						<option ng-repeat="docto in documentTypes.items"
							value="{{docto.idCatalogo}}">{{docto.nombre}}</option>
					</select> <span class="validate-has-error"
						style="border-color: #cc3f44; color: #cc3f44;"
						ng-show="isNotSelectedType">Debe seleccionar un tipo de
						documento</span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" ng-show="showcredit">
					<label class="control-label">Cr&eacute;dito</label>
					<div ng-if = "oneCredit">
						<input class="form-control" name="numCredito" type="text" id="numCredito"
								ng-model="numCredit" ng-disabled="true" />
						<input type="hidden" id="idCredito" ng-model="idCredito"/>
					</div>
					<div ng-if = "!oneCredit">
						<select id="idCredito" name="idCredito" class="form-control"
						ng-model="idCredito" >
						<option ng-repeat="credit in credits"
							value="{{credit.idCredito}}">{{credit.id}}</option>
					</select>
					</div>					
				</div>
			</div>
		</div>
		<div class="row" >
			<div class="col-md-4 text-center" ng-show = "crearDocumento">
				<div class="form-group" style="align: center">
					<form action="" class="dropzone" dropzone="" id="dropzone">
						<div class="dz-message" data-dz-message>
							<span style="font-size: 20px; font-weight: bold;">Arrastra
								tu archivo o da click aqu&iacute;</span>
						</div>
					</form>
					<br>
					<button class="btn btn-success" ng-click="uploadFile()">Subir
						Archivo</button>
					<button  class="btn btn-danger" ng-click="reset()">Limpiar</button>
				</div>
			</div>

			<div class="col-md-8">
				<div class="form-group">
					<table class="table table-bordered table-striped"
						id="example-dropzone-filetable">
						<thead>
							<tr>
								<th width="30%" class="text-left">Nombre del documento</th>
								<th width="40%" class="text-left">Tipo de documento</th>
								<th class="text-center">Acción</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="documentItem in documents">
								<td>{{documentItem.nombre}}</td>
								<td>{{documentItem.tipoDocumento}}</td>
								<td class="text-center"><a
									class="btn btn-secondary btn-sm btn-icon icon-left fa fa-download"
									title="Ver" ng-click="display(documentItem,'modal-displayClientDocument')"></a> <a ng-show="crearDocumento"
									class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
									ng-click="holdDocToDelete(documentItem);"
									onclick="jQuery('#modalEliminar').modal('show');"
									title="Eliminar"> </a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
                    Dropzone.autoDiscover = false;
                    Dropzone.options.dropzone = {
                    acceptedFiles: "images/*,application/pdf"
                    }
                </script>
<style>
.dropzone {
	width: 250px;
	height: 250px;
	min-height: 0px !important;
}
</style>



<div class="modal fade" id="modalEliminar" data-backdrop="static">
	<div class="modal-dialog" style="width: 300px; height: 200;">
		<div class="modal-content text-center">

			<div class="modal-header">
				<h4 class="modal-title">Confirmaci&oacute;n eliminar</h4>
			</div>

			<div class="modal-body">&iquest;Esta seguro que desea eliminar
				el archivo?</div>

			<div class="modal-footer text-center">
				<button type="button" class="btn btn-info" ng-click="deleteDocument();">Eliminar</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalMensaje">
	<div class="modal-dialog" style="width: 300px; height: 200;">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Mensaje</h4>
			</div>

			<div class="modal-body">{{mensaje}}</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="modal-displayClientDocument">
        <div class="modal-header">
                <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        </div>  
        <div class="modal-body" align="center">
                <embed ng-src="{{fileDownloaded}}" style="width:50%;height:50%;" type="{{typeFileDownloaded}}"></embed>
        </div>  
        <div class="modal-footer">
                <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button> 		
				<button ng-show = "allowDownload" type="button" class="btn btn-info" 
					ng-click="downloadDocument('/api/documentos/consultarDocumento/'+currentDocument.idDocumento,currentDocument.nombre); currentModal.close();">Save</button>          
        </div>
</script>
