<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Clientes</h3>
		<div class="panel-options btn1">
			<a ng-show="crearCliente"
				 ui-sref="app.clienteform({rutas: rutas, figura: figura})" type="submit"
				class="btn btn-success">Nuevo</a>
		</div>
	</div>
	<div class="panel-body">
	<alert type="info" ng-show="emptyForm">
		<strong>Introduzca criterios de b&uacute;squeda</strong>
	</alert>
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones" ng-change="changeDiv()">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="region" multiple
									ng-model="filters.regiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="gerencia" multiple
									ng-model="filters.gerencias">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="ruta" multiple ng-change="changeRutas()"
									ng-model="filters.rutas">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="field-1"
									placeholder="Nombre" ng-model="filters.nombre">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="field-2"
									placeholder="Apellido" ng-model="filters.apellidoPaterno">
							</div>
						</div>
					</div>
					<div class="form-group-separator"></div>
				</form>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Clave</th>
						<th data-priority="1">Nombre Completo</th>
						<!-- th data-priority="1">Apellidos</th-->
						<th data-priority="3">Teléfono</th>
						<th data-priority="3">Ruta</th>
						<th data-priority="3">Email</th>
						<th data-priority="1">Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="clienteItem in clientes">
						<td>{{clienteItem.id}}</td>
						<td>{{clienteItem.nombre}} {{clienteItem.apellidoPaterno}} {{clienteItem.apellidoMaterno}}</td>
						<!-- td>{{clienteItem.apellidoPaterno}} {{clienteItem.apellidoMaterno}}</td-->
						<td class="center">{{clienteItem.telCelular}}</td>
						<td class="center"><span class="label label-success">{{clienteItem.ruta}}</span></td>
						<td>{{clienteItem.correoElectronico}}</td>
						<td>
						<a ng-show="crearCliente"
							ui-sref="app.clienteform({ clienteId: clienteItem.idCliente, cliente: clienteItem, rutas: rutas, figura: figura })"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil" title="Editar">
						</a> 
						<a ng-show="verCliente && !crearCliente"
							ui-sref="app.clienteform({ clienteId: clienteItem.idCliente, cliente: clienteItem, rutas: rutas, figura: figura })"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-eye" title="Ver Cliente">
						</a>
						<a ng-show="crearCodeudor || verCodeudor" 
							ui-sref="app.codeudor({cliente: clienteItem})"
							class="btn btn-danger btn-sm btn-icon icon-left fa fa-group" title="Codeudor">
						</a>
						<a ng-show="historiaCred" 
							ui-sref="app.clientescreditos({cliente: clienteItem})"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-money" title="Créditos">
						</a>
						<a ng-show="verDocs"
							ui-sref="app.documentos({entidad: clienteItem, figura : 'FIG_CLIENTE' })"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text" title="Documentos">
						</a>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>