<script src="assets/js/xenon-custom.js"></script>
<div class="page-container">
	<div class="main-content">

		<!-- Form wizard with validation starts here -->
		<h3 class="text-gray">
			Registro de Co-Deudor<br />
			<div class="panel-options btn1">
				<a ui-sref="app.codeudor({cliente: clienteItem})" type="submit"
					class="btn btn-success">Regresar</a>
			</div>
		</h3>
		<form role="forl" id="rootwizard" class="form-wizard validate" name="rootwizard" 
			novalidate>

			<ul class="tabs">
				<li class="active"><a data-target="#fwv-1" data-toggle="tab">
						Datos Generales <span>1</span>
				</a></li>
				<li><a data-target="#fwv-3" data-toggle="tab"> Domicilio Laboral <span>2</span>
				</a></li>
				<li><a data-target="#fwv-2" data-toggle="tab"> Domicilio Residencial <span>3</span>
				</a></li>
				<li><a data-target="#fwv-4" data-toggle="tab"> Referencias
						<span>4</span>
				</a></li>
			</ul>

			<div class="progress-indicator">
				<span></span>
			</div>

			<div class="tab-content no-margin">
				<div class="tab-pane with-bg active" id="fwv-1">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="tipo_fig">Tipo Figura</label>
								<select ng-disabled="canEdit" name="figura" class="form-control"
									data-validate="required" ng-model="cliente.idTipoFigura"
									ng-disabled="false">
									<option ng-repeat="documento in ItemTipoFigura"
										ng-selected="documento.claveInterna==figura"
										value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="tipodocId">Tipo de
									Documento de Identificación Oficial</label> <select
									ng-disabled="canEdit" name="tipodocId" class="form-control"
									ng-model="auxDocumento" required ng-options="documento.nombre for documento in allTipoDocId.items"
									ng-change="getRequeridos(auxDocumento)">
									 <option value="">---Seleccione un tipo de documento---</option>
									<option ng-repeat="documento in allTipoDocId"
										value="{{documento.id}}">{{documento.name}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_doc">Número de
									Documento</label> <input ng-disabled="canEdit" type="text"
									class="form-control" name="num_doc"
									data-validate="required"
									placeholder="Ingresa el Número de Documento"
									title="Campo obligatorio, ingrese un número válido" ng-model="cliente.docIdentificacion" 
									ng-maxlength="{{carRequeridos}}" ng-minlength="{{carRequeridos}}"/>
									<span ng-show="rootwizard.num_doc.$error.maxlength || rootwizard.num_doc.$error.minlength" 
								class="help-inline" style="color:red">*El tipo de documento require {{carRequeridos}} caracteres</span> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="ape_pa">Apellido
									Paterno</label> <input ng-disabled="canEdit" class="form-control"
									name="ape_pa" id="ape_pa" data-validate="required"
									placeholder="Ingrese su Apellido Paterno"
									title="Campo obligatorio" ng-model="cliente.apellidoPaterno"  ng-pattern="/^[a-zñA-ZÑ\s]*$/"/>
									<span
									ng-show="(rootwizard.$submitted || rootwizard.ape_pa.$touched) && rootwizard.ape_pa.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="ape_mat">Apellido
									Materno</label> <input ng-disabled="canEdit" class="form-control"
									name="ape_mat" id="ape_mat" data-validate="required"
									placeholder="Ingrese su Apellido Materno"
									title="Campo obligatorio" ng-model="cliente.apellidoMaterno"  ng-pattern="/^[a-zñA-ZÑ\s]*$/"/>
									<span
									ng-show="(rootwizard.$submitted || rootwizard.ape_mat.$touched) && rootwizard.ape_mat.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="full_name">Nombre(s)</label> <input
									ng-disabled="canEdit" class="form-control" name="full_name"
									id="full_name" data-validate="required"
									placeholder="Ingrese su Nombre(s)" title="Campo obligatorio"
									ng-model="cliente.nombre"  ng-pattern="/^[a-zñA-ZÑ\s]*$/"/>
																		<span
									ng-show="(rootwizard.$submitted || rootwizard.full_name.$touched) && rootwizard.full_name.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Género</label> <select
									ng-disabled="canEdit" class="form-control" name="genero" id="generoForm"
									ng-model="cliente.idGenero" title="Campo obligatorio" required>
									<option value="">---Seleccione un género---</option>

									<option ng-repeat="documento in allGenero.items"
										ng-selected="documento.idCatalogo==cliente.idGenero"
										value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="born">Fecha de
									Nacimiento</label> <input ng-disabled="canEdit"
									data-validate="required"
									class="form-control datepicker data-format=yyyy-MM-dd"
									data-start-view="2" name="born" id="born" type="text"
									placeholder="Ingrese su fecha de nacimiento"
									ng-model="cliente.fechaNacimiento" title="Campo obligatorio">
								<span
									ng-show="(form.$submitted || form.born.$touched) && form.born.$error.text"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Formato
									inválido, sólo números</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Email</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="linecons-mail"></i>
									</span> <input ng-disabled="canEdit" type="email" class="form-control"
										name="email" data-validate="email"
										placeholder="Ingrese su correo electrónico"
										title="Por favor, introduce una dirección de correo electrónico válida."
										ng-model="cliente.correoElectronico">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Teléfono de Cobro</label>

								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"></i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control"
										data-mask="phone" ng-model="cliente.telLab" ng-required="true" />
								</div>
							</div>
							<br />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Teléfono Residencial</label>

								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"></i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control"
										data-mask="phone" name="telRes"
										ng-model="cliente.telResidencia" ng-required="true" />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Teléfono Celular</label>

								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"></i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control"
										data-mask="phone" name="telCel" ng-model="cliente.telCelular"
										ng-required="true" />
								</div>
							</div>
						</div>
					</div>
				</div>
<!-- FORM INFO RESIDENCIAL -->				
				<div class="tab-pane with-bg" id="fwv-2">
				<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<button ng-show="crearCodeudor" type="button"
									class="btn btn-info btn-single pull-left" ng-click="copyDom();">Autocompletar
									con Datos de Domicilio Laboral</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="c_p">Código Postal</label> <input
									ng-disabled="canEdit" class="form-control" name="c_p"
									type="text" id="c_p" placeholder="Ingrese su Código Postal"
									title="Campo obligatorio"
									ng-model="cliente.domicilioResidencial.codigoPostal"
									ng-required="true" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="calle">Calle</label> <input
									ng-disabled="canEdit" class="form-control" name="calle"
									id="calle" placeholder="Ingrese su calle"
									title="Campo obligatorio"
									ng-model="cliente.domicilioResidencial.calle"
									ng-required="true" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_ext">Número
									Exterior</label> <input ng-disabled="canEdit" class="form-control"
									name="num_ext" id="num_ext"
									placeholder="Ingrese Número Exterior" title="Campo obligatorio"
									ng-model="cliente.domicilioResidencial.numExt"
									ng-required="true" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_int">Número
									Interior</label> <input ng-disabled="canEdit" class="form-control"
									name="num_int" id="num_int"
									placeholder="Ingrese Número Interior" title="Campo obligatorio"
									ng-model="cliente.domicilioResidencial.numInt" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="colonia">Colonia</label> <select
									ng-disabled="canEdit" name="colonia_residencial" class="form-control"
									id="colonia_residencial" placeholder="Ingrese Colonia"
									title="Campo requerido"
									ng-model="cliente.domicilioResidencial.colonia">
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="municipio">Municipio</label> <input
									ng-disabled="canEdit" class="form-control" name="municipioRes"
									id="municipioRes" placeholder="Ingrese su Municipio/Delegación"
									ng-model="cliente.domicilioResidencial.municipio" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="estadoRes">Estado</label> <input
									ng-disabled="canEdit" class="form-control" name="estado_res"
									id="estado_res" placeholder="Ingrese su Estado"
									ng-model="cliente.domicilioResidencial.estado" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="paisRes">País</label> <input
									ng-disabled="canEdit" class="form-control" name="paisRes"
									id="paisRes" placeholder="Ingrese su País"
									ng-model="cliente.domicilioResidencial.pais" />
							</div>
						</div>
					</div>
				</div>
<!-- DOMICILIO LABORAL -->
				<div class="tab-pane with-bg" id="fwv-3">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="emp">Nombre de la
									empresa</label> <input ng-disabled="canEdit" class="form-control"
									name="nom_emp" id="nom_emp" data-validate="required"
									placeholder="Ingrese nombre de la empresa"
									title="Campo obligatorio" ng-model="cliente.nombreEmpresa" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
						
							<div class="form-group">
								<label class="control-label" for="c_p">Código Postal</label> <input data-validate="required"
									ng-disabled="canEdit" class="form-control" name="c_p"
									type="text" id="c_p" placeholder="Ingrese su código postal"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.codigoPostal" />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="calle">Calle</label> <input
									ng-disabled="canEdit" class="form-control" name="calle_emp"
									id="calle_emp" data-validate="required"
									placeholder="Ingresa la calle de la empresa"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.calle" />
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_ext_emp">Número
									Exterior</label> <input ng-disabled="canEdit" class="form-control"
									name="num_ext_emp" id="num_ext_emp" data-validate="required"
									placeholder="Ingrese número exterior de la empresa"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.numExt" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_int_emp">Número
									Interior</label> <input ng-disabled="canEdit" class="form-control"
									name="num_int_emp" id="num_int_emp"
									placeholder="Ingrese número interior de la empresa"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.numInt" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
						<div class="form-group">
								<label class="control-label" for="colonia">Colonia</label> <select data-validate="required"
									ng-disabled="canEdit" name="colonia" class="form-control"
									id="colonia" placeholder="Ingrese Colonia"
									title="Campo obligatorio" requiered
									ng-model="cliente.domicilioLaboral.colonia">
									<option value="">---Seleccione una colonia---</option>
								</select>
							</div>
							
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="municipio_emp">Municipio</label>
								<input ng-disabled="canEdit" class="form-control"
									name="municipio" id="municipio"
									placeholder="Ingrese Municipio/Delegación de la Empresa"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.municipio" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="estado_emp">Estado</label>
								<div class="form-group">
								<input id="estado_emp" class= "form-control" ng-disabled="canEdit" name="estado_emp" placeholder="Ingrese estado de la empresa"
								title="Campo requerido" ng-model="cliente.domicilioLaboral.estado" required/>
								
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="paisRes">País</label>
								<input id="paisLaboral" class= "form-control" ng-disabled="canEdit" name="paisLaboral" placeholder="Ingrese pais de la empresa"
								title="Campo requerido" ng-model="cliente.domicilioLaboral.pais" required/>
								
							</div>
						</div>
						
					</div>
				</div>
<!-- FORM REFERENCIAS -->				
				<div class="tab-pane with-bg" id="fwv-4">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<strong>Referencia Personal</strong> <br /> <br /> <label
									class="control-label" for="nom_ref_per">Nombre</label> <input
									ng-disabled="canEdit" class="form-control" name="nom_ref_per"
									id="nom_ref_per"  ng-required="true"
									placeholder="Ingrese nombre de referencia personal"
									ng-model="cliente.nombreRefPersonal"  ng-pattern="/^[a-zñA-ZÑ\s]*$/"/> 
									<span
									ng-show="(rootwizard.$submitted || rootwizard.nom_ref_per.$touched) && rootwizard.nom_ref_per.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
									<br /> 
									<label
									class="control-label">Teléfono de Referencia Personal</label>
								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"> </i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control" id="telRefPersonal"
										data-mask="phone" ng-model="cliente.telRefPersonal"  ng-required="true" name="telRefPersonal"/>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<strong>Referencia Familiar</strong> <br /> <br /> <label
									class="control-label" for="nom_ref_fam">Nombre</label> <input  ng-required="true"
									ng-disabled="canEdit" class="form-control" name="nom_ref_fam"
									id="nom_ref_fam" 
									placeholder="Ingrese nombre de referencia familiar"
									ng-model="cliente.nombreRefFamiliar"  ng-pattern="/^[a-zñA-ZÑ\s]*$/" />
									<span
									ng-show="(rootwizard.$submitted || rootwizard.nom_ref_fam.$touched) && rootwizard.nom_ref_fam.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
									
									 <br /> <label
									class="control-label">Teléfono de Referencia Familiar</label>
								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"></i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control" id="telRefFam"
										data-mask="phone" ng-model="cliente.telRefFamiliar" ng-required="true" name="telRefFam"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group" align="right">
								<button ng-show="!canEdit" type="submit" class="btn btn-primary"
									ng-click="guardarCodeudor()" ng-disabled="rootwizard.$invalid">Finalizar Registro</button>
							</div>
						</div>
					</div>
				</div>
				<!-- id="fwv-6" -->
			</div>
			<!--  "tab-content no-margin" -->
			<!-- Tabs Pager -->
			<ul class="pager wizard">
				<li class="previous"><a href="#"><i
						class="entypo-left-open"></i> Anterior</a></li>

				<li class="next"><a href="#">Siguiente <i
						class="entypo-right-open"></i></a></li>
			</ul>
		</form>
	</div>
</div>

<!-- Main Footer -->
<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
<!-- Or class "fixed" to  always fix the footer to the end of page -->
