<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Créditos</h3>
		<div class="panel-options btn1">
			<a ng-show="crearCliente"
				ui-sref="app.clienteform({rutas: rutas, figura: figura})"
				type="submit" class="btn btn-success">Nuevo Crédito</a>
		</div>
	</div>
	<div class="panel-body">
		<alert type="info" ng-show="emptyForm"> <strong>Introduzca
			criterios de b&uacute;squeda</strong> </alert>
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones" ng-change="changeDiv()">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="region" multiple
									ng-model="filters.regiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="gerencia" multiple
									ng-model="filters.gerencias">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="ruta" multiple
									ng-change="changeRutas()" ng-model="filters.rutas">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="field-1"
									placeholder="Nombre" ng-model="filters.nombre">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="field-2"
									placeholder="Apellido" ng-model="filters.apellidoPaterno">
							</div>
						</div>
					</div>
					<div class="form-group-separator"></div>
				</form>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="1">Nombre</th>
						<th data-priority="1">Ruta Crédito</th>
						<th data-priority="2">Estatus</th>
						<th data-priority="3">Fecha Emision</th>
						<th data-priority="3">Fecha ÚP</th>
						<th data-priority="3">Fecha Cancel</th>
						<th data-priority="3">Monto</th>
						<th data-priority="3">Saldo</th>
						<th data-priority="3">Plazo</th>
						<th data-priority="3">Observaciones</th>
						<th data-priority="1">Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in creditos">
						<td>{{item.nombreCliente}}</td>
						<td>{{item.ruta}}</td>
						<td>{{item.estatusCredito}}</td>
						<td>{{item.fechaEmision}}</td>
						<td>{{item.fechaUltimoPago}}</td>
						<td>{{item.fechaCancelacion}}</td>
						<td>{{item.monto | currency}}</td>
						<td>{{item.saldo | currency}}</td>
						<td>{{item.plazo | number}}</td>
						<td>({{item.motivoCancelacion}}){{item.observaciones}}</td>
						<td><a ng-show="editarCredito"
							ui-sref="app.clientescreditoform({ cliente: cliente, credito: item })"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
							title="Editar"> </a> <a href=""
							ng-click="creditoSelected(cliente,item)"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt"
							title="Tabla amortización"> </a> <a
							ng-show="item.estatusCredito == 'Activo' && item.saldo>0 && pagar"
							ui-sref="app.creditopagoform({credito: item, cliente: cliente})"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-dollar"
							title="Registrar pago"> </a> <!--a href=""
							class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a--> <a ng-show="reestructurar" href=""
							ui-sref="app.clientescreditorest({ cliente: cliente, credito: item, tipo:'REST' })"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-history"
							title="Reestructurar"> </a> <a ng-show="reestructurar" href=""
							ui-sref="app.clientescreditonego({ cliente: cliente, credito: item, tipo:'NEGO' })"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-recycle"
							title="Negociación"> </a> <a
							ng-show="item.estatusCredito=='Activo'" href=""
							ng-click="cancelaCredito(item.idCredito,'NodeModal','lg')"
							class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
							title="Cancelar"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="panel panel-default" ng-show="selectedCredito">
	<div class="panel-heading">
		<h3 class="panel-title">Tabla de amortización*</h3>
		<div class="panel-options btn1"
			ng-show="habilitarPago&&pagar&&estatusCredito =='Activo'">
			<a
				ui-sref="app.creditopagoform({credito: creditoItem, cliente: cliente})"
				type="submit" class="btn btn-success">Registrar pago</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title encabezados">Datos del crédito</div>
				<small class="text-small pull-right" style="padding-top: 5px;">
				</small>
			</div>
			<!-- Default panel -->
			<div class="collapsed panel-default">
				<!-- Add class "collapsed" to minimize the panel -->
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<p>
									Producto: <b>{{producto}}</b> Estatus: <b>{{estatusCredito}}</b>
									Plazo: <b>{{plazo|number}}</b> Saldo: <b>{{saldo|currency}}</b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="1">No. Pago</th>
						<th data-priority="1">Estatus</th>
						<th data-priority="1">Tipo Pago</th>
						<th data-priority="1">Fecha Vencimiento</th>
						<th data-priority="1">Amortización</th>
						<th data-priority="1">Intereses</th>
						<th data-priority="1">Iva Intereses/Comisión</th>
						<th data-priority="1">Pago</th>
						<th data-priority="1">Fecha Pago</th>
						<th data-priority="1">Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in tablaAmortizacion">
						<td>{{item.numPago}}</td>
						<td>{{item.estatusPago}}</td>
						<td>{{item.tipoPago}}</td>
						<td>{{item.fechaVencimiento}}</td>
						<td>{{item.amortizacion | currency}}</td>
						<td>{{item.interes | currency}}</td>
						<td>{{item.ivaInteres | currency }}</td>
						<td>{{item.pagoFijo | currency}}</td>
						<td>{{item.fechaPago}}</td>
						<td><a
							ng-show="item.fechaPago  && {{estatusCredito =='Activo'}}"
							ui-sref="app.editpagoform({ idPago:item.idPago})"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-recycle">
						</a></td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>


<script type="text/ng-template" id="EliminarModal"> 
<div class="modal-dialog" style="width: 95%">
<form role="form" id="EliminarModal" name="EliminarModal" method="post" >
				<div class="modal-header">
            		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{{operacion}}</h4>
				</div>

				<div class="modal-body">
					<div class="tab-pane with-bg active" id="fwv-1">
						
						<div class="row">
							<div class="col-md-6">
								<label class="control-label">Fecha de Operación</label> <input
									class="form-control datepicker data-format=yyyy-mm-dd"
									data-start-view="2" ng-model="fechaOpe"
									placeholder="Ingrese Fecha de Operación" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Motivo cancelación</label>
									<select class="form-control" id="motivoCanc" name="motivoCanc" ng-model="idMotivoCanc" required>
			                            <option value="">Selecciona uno</option>
			                            <option ng-repeat="cat in catmotivo.items" value="{{cat.idCatalogo}}">{{cat.nombre}}</option>
									</select>
								</div>
							</div>
						</div>
					<div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Observaciones</label> <input
										class="form-control" name="observaciones" value="" 
										placeholder="Observaciones" ng-model="obs" >
								</div>
							</div>
						</div>

					</div>
				</div>
        		<div class="modal-footer">
            		<button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            		<button type="button" class="btn btn-info" ng-disabled="!EliminarModal.$valid" ng-click="cancelCredito();">Confirmar</button>
        		</div>
</form>
		</div>

</script>
