<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Registro de Pago"
	description="Debe ingresar la información completa"></page-title>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos Generales</div>
		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<!-- Default panel -->
	<div class="collapsed panel-default">
		<!-- Add class "collapsed" to minimize the panel -->
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<p>
							Cve Fiscal: <b>{{cliente.cveFiscal}}</b> Nombre: <b>{{cliente.nombre}}
								{{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</b> Ruta: <b>{{cliente.ruta}}</b>
							Ejecutivo: <b>{{cliente.ruta.ejecutivo}}</b>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<p>
							Producto: <b>{{credito.producto}}</b> Estatus: <b>{{credito.estatusCredito}}</b>
							Plazo: <b>{{credito.plazo}}</b> Saldo: <b>{{credito.saldo}}</b>
							Pago: {{credito.pago}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos generales</div>

		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">

		<form role="forl" id="saveproject" class="validate" validate
			name="saveproject">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Comisión</label> <input type="text"
							data-validate="number" class="form-control" name="comision"
							ng-model="pago.comision" ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Abono</label> <select
							class="form-control" name="abono"
							ng-model="pago.abono" ng-change="calculaPago();">
							<option ng-repeat="abonoItem in abonos"
								ng-selected="abonoItem==pago.abono"
								value="{{abonoItem}}"
								>{{abonoItem}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Pago Adicional</label> <input type="number"
							data-validate="number" class="form-control" name="pagoAdicional" id="pagoAdicional"
							ng-min="0" ng-max="maxAdicional" ng-change="calculaPago();"
							ng-model="pago.pagoAdicional"  />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Pago Total</label> <input type="number"
							data-validate="number" class="form-control" name="totalPago"
							ng-model="pago.totalPago" ng-disabled="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div align="right" class="form-group">
						<button type="submit" class="btn btn-success"
							ng-disabled="!saveproject.$valid" ng-click="submitTheForm()">Registrar
							Ahora</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
