<!-- Custom column filtering -->
<style>
	.modal-content2{
		background-color: transparent;
	}
</style>
<div class="panel panel-default" id= "pageContentTraspaso">
	<div class="panel-heading">
		<h3 class="panel-title">Clientes</h3>
		<div class="panel-options btn1">
			<a ng-show="crearCliente"
				ui-sref="app.clienteform({rutas: rutas, figura: figura})"
				type="submit" class="btn btn-success">Nuevo</a>
		</div>
	</div>
	
	<div class="panel-body">
		<alert type="info" ng-show="emptyForm">
		<strong>Introduzca criterios de b&uacute;squeda</strong>
	</alert>
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones" ng-change="changeDiv()">
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="region" multiple
									ng-model="filters.regiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="gerencia" multiple
									ng-model="filters.gerencias">
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control" id="ruta" ng-change="changeRutas()"
									ng-model="rutaOrigen">
									
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="field-1"
									placeholder="Nombre" ng-model="filters.nombre">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="field-2"
									placeholder="Apellido" ng-model="filters.apellidoPaterno">
							</div>
						</div>
					</div>
					<div class="form-group-separator"></div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Ruta Destino</label> <select
									class="form-control" id="rutaDestino" ng-model="rutaDestino"
									ng-change="validaRutas()">
								</select>
							</div>
						</div>
						<span
									ng-show="!validRutas && rutaDestino!='' && rutaDestino != null"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">*Ruta Destino es igual a Ruta Origen</span>
						<div class="col-md-12">
							<div class="form-group" align="right" >
								<a href="" ng-click="traspasar('NodeModal','lg')" ng-disabled="!validRutas"
									class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt">Traspasar
								</a>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false" >
			
			<table class="table table-bordered table-striped" id="example-2">
				<thead>
					<tr class="replace-inputs">
						<th style="width: 3%">
						 Todos<br>
						
						<input type="checkbox" ng-change="selectAll()" ng-model="vtodos"/>
						<th>Nombres</th>
						<th>Apellidos</th>
						<th>Teléfono</th>
						<th>Ruta</th>
						<th>Crédito</th>
						<th>Estatus</th>
						<th>Saldo</th>
						<th>Origen crédito</th>
					</tr>
				</thead>
				<tbody class="middle-align">
					<tr ng-repeat="clienteItem in clientes">
						<td><input type="checkbox" ng-model="clienteItem.traspasar"/></td>
						<td>{{clienteItem.nombre}}</td>
						<td>{{clienteItem.apellidoPaterno}}
							{{clienteItem.apellidoMaterno}}</td>
						<td class="center">{{clienteItem.telCelular}}</td>
						<td class="center"><span class="label label-success">{{clienteItem.ruta}}</span></td>
						<td ng-repeat="credito in clienteItem.creditos">{{credito.id}}</td>
						<td ng-repeat="credito in clienteItem.creditos">{{credito.estatusCredito}}</td>
						<td ng-repeat="credito in clienteItem.creditos">{{credito.saldo | currency}}</td>
						<td ng-repeat="credito in clienteItem.creditos">{{credito.ruta}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>
<script src="assets/js/datatables/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet"
	href="assets/js/datatables/dataTables.bootstrap.css">
<script src="assets/js/datatables/dataTables.bootstrap.js"></script>
<script src="assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
<script
	src="assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>


<script type="text/ng-template" id="TraspasoModal"> 
<div class="modal-dialog" style="width: 95%">

<form role="form" id="TraspasoModal" name="TraspasoModal" method="post" class="validate" validate>
				<div class="modal-header">
            		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Traspaso de cliente(s)</h4>
				</div>

				<div class="modal-body">
					<div class="tab-pane with-bg active" id="fwv-1">
						
						<div class="row">
							<div class="col-md-6">
								<label class="control-label">Fecha de Operación</label> <input required
									class="form-control datepicker data-format=yyyy-mm-dd"
									data-start-view="2" ng-model="fechaOpe"
									placeholder="Ingrese Fecha de Operación">
							</div>
						</div>
						<div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Motivo traspaso</label>
									<select required class="form-control" id="motivo" name="motivo" ng-model="motivo" required>
			                            <option value="">Selecciona uno</option>
			                            <option ng-repeat="cat in catmotivo.items" value="{{cat.idCatalogo}}">{{cat.nombre}}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Cartera a traspasar</label>
									<input type="text" disabled value=${{totalcartera}}></input>
								</div>
							</div>
						</div>

					<div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">No. Clientes a traspasar</label>
									<input type="text" disabled value={{noClientes}}></input>
								</div>
							</div>
						</div>
					</div>
				</div>
        		<div class="modal-footer">
            		<button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            		<button type="button" class="btn btn-info" ng-click="ejecutarTraspaso();" ng-disabled = "noClientes==0 || !TraspasoModal.$valid">Confirmar</button>
        		</div>
</form>
		</div>

</script>


<script type="text/ng-template" id="LoadingModal">
<div id="cargando" class="modal-dialog" style="width: 246px; height:246px;">
	<center><label style="font-size:25px; ">Cargando datos</label></center>
	<img src="assets/images/spinner2.gif" alt="" align ="center" />

</div>

</script>

