<script src="assets/js/xenon-custom.js"></script>
<div class="page-container">
	<div class="main-content">

		<!-- Form wizard with validation starts here -->
		<h3 class="text-gray">
			Unificación de Créditos <br />
		</h3>
		<form role="forl" id="rootwizard" name="form"
			class="form-wizard validate">
			<ul class="tabs">
				<li class="active"><a data-target="#seleccionCreditos"
					data-toggle="tab"> Selección de créditos <span>1</span>
				</a></li>
				<li><a data-target="#seleccionTitular" data-toggle="tab">Selección
						de titular<span>2</span>
				</a></li>
				<li><a data-target="#nuevoCredito" data-toggle="tab">Nuevo
						Crédito<span>3</span>
				</a></li>
			</ul>

			<div class="progress-indicator">
				<span></span>
			</div>

			<div class="tab-content no-margin">
				<!-- SELECCION DE CLIENTES -->
				<div class="tab-pane with-bg active" id="seleccionCreditos">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Créditos Seleccionados</h3>
						</div>
						<div class="panel-body">
							<div class="panel panel-default">
								<div class="panel-body">
									<form role="form">
										<div class="table-responsive" data-pattern="priority-columns"
											data-focus-btn-icon="fa-asterisk"
											data-sticky-table-header="true"
											data-add-display-all-btn="false" data-add-focus-btn="false">
											<table
												class="table table-small-font table-bordered table-striped"
												id="example-3">
												<thead>
													<tr class="replace-inputs">
														<th data-priority="1">Accion</th>
														<th data-priority="1">Nombre</th>
														<th data-priority="1">Ruta Crédito</th>
														<th data-priority="1">ID Crédito</th>
														<th data-priority="2">Estatus</th>
														<th data-priority="3">Fecha Emision</th>
														<th data-priority="3">Fecha ÚP</th>
														<th data-priority="3">Monto</th>
														<th data-priority="3">Saldo</th>
														<th data-priority="3">Plazo</th>
														<th data-priority="3">Observaciones</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="item in creditosSeleccionados">
														<td><a ng-click="removeCredit(item)"
															class="btn btn-danger btn-sm btn-icon icon-left fa fa-times"></a>
														</td>
														<td>{{item.nombreCliente}}</td>
														<td>{{item.ruta}}</td>
														<td>{{item.id}}</td>
														<td>{{item.estatusCredito}}</td>
														<td>{{item.fechaEmision}}</td>
														<td>{{item.fechaUltimoPago}}</td>
														<td>{{item.monto | currency}}</td>
														<td>{{item.saldo | currency}}</td>
														<td>{{item.plazo | number}}</td>
														<td>({{item.motivoCancelacion}}){{item.observaciones}}</td>
													</tr>
													<tr>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td>TOTAL</td>
														<td>{{saldoAcumulado | currency}}</td>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Créditos</h3>
						</div>
						<div class="panel-body">
							<div class="panel panel-default">
								<div class="panel-body">
									<form role="form">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<select class="form-control" id="division" multiple
														ng-model="filters.divisiones" ng-change="changeDiv()">
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<select class="form-control" id="region" multiple
														ng-model="filters.regiones">
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<select class="form-control" id="gerencia" multiple
														ng-model="filters.gerencias">
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<select class="form-control" id="ruta" multiple
														ng-change="changeRutas()" ng-model="filters.rutas">
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" id="field-1"
														placeholder="Nombre" ng-model="filters.nombre">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" id="field-2"
														placeholder="Apellido" ng-model="filters.apellidoPaterno">
												</div>
											</div>
										</div>
										<div class="form-group-separator"></div>
									</form>
								</div>

								<div class="table-responsive" data-pattern="priority-columns"
									data-focus-btn-icon="fa-asterisk"
									data-sticky-table-header="true"
									data-add-display-all-btn="false" data-add-focus-btn="false">
									<table
										class="table table-small-font table-bordered table-striped"
										id="example-3">
										<thead>
											<tr class="replace-inputs">
												<th data-priority="1">Acción</th>
												<th data-priority="1">Nombre</th>
												<th data-priority="1">Ruta Crédito</th>
												<th data-priority="1">ID Crédito</th>
												<th data-priority="2">Estatus</th>
												<th data-priority="3">Fecha Emision</th>
												<th data-priority="3">Fecha ÚP</th>
												<th data-priority="3">Monto</th>
												<th data-priority="3">Saldo</th>
												<th data-priority="3">Plazo</th>
												<th data-priority="3">Observaciones</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in creditos">
												<td><a ng-click="addCredit(item)"
													class="btn btn-info btn-sm btn-icon icon-left fa fa-check">
												</a></td>
												<td>{{item.nombreCliente}}</td>
												<td>{{item.ruta}}</td>
												<td>{{item.id}}</td>
												<td>{{item.estatusCredito}}</td>
												<td>{{item.fechaEmision}}</td>
												<td>{{item.fechaUltimoPago}}</td>
												<td>{{item.monto | currency}}</td>
												<td>{{item.saldo | currency}}</td>
												<td>{{item.plazo | number}}</td>
												<td>({{item.motivoCancelacion}}){{item.observaciones}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- FIN DE SELECCION DE CLIENTES -->
				<!-- SELECCION TITULAR-->
				<a name="seleccionTitular"></a>
				<div class="tab-pane with-bg" id="seleccionTitular">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Selecciona el titular</h4>
						</div>
						<div class="panel-body">
							<div class="panel panel-default">
								<div class="panel-body">
									<h3>Titular Seleccionado</h3>
									<label style="width: 60px"><b>Nombre:</b></label><label>
										<b>{{titular.nombreCliente || titular.nombre}} </b>
									</label><br> <label style="width: 60px"><b>Unidad:</b></label><label>
										<b>{{titular.rutaCliente || titular.ruta}}</b>
									</label><br> <br>
									<div class="table-responsive" data-pattern="priority-columns"
										data-focus-btn-icon="fa-asterisk"
										data-sticky-table-header="true"
										data-add-display-all-btn="false" data-add-focus-btn="false">
										<table
											class="table table-small-font table-bordered table-striped"
											id="example-3">
											<thead>
												<tr class="replace-inputs">
													<th data-priority="1">Titular</th>
													<th data-priority="1">Nombre Completo</th>
													<th data-priority="3">Ruta</th>

												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="item in creditosSeleccionados">
													<td><input type="radio" ng-model="$parent.titular"
														ng-value="{{item}}" name="titular" /></td>
													<td>{{item.nombreCliente}}</td>
													<td>{{item.rutaCliente}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- -------------------------------------------- -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Seleccionar otro cliente como
								titular</h3>
							<br>
							<button type="button" class="fa fa-plus-square"
								data-toggle="collapse" data-target="#panelOtroCliente">Filtros
							</button>

						</div>
						<div class="panel-body">
							<div class="panel panel-default">
								<!-- Add class "collapsed" to minimize the panel -->

								<div class="panel-body collapse" id="panelOtroCliente">
									<div class="panel-heading">Filtros</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<select class="form-control" id="division2" multiple
													ng-model="filtersTitular.divisiones">
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<select class="form-control" id="region2" multiple
													ng-model="filtersTitular.regiones">
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<select class="form-control" id="gerencia2" multiple
													ng-model="filtersTitular.gerencias">
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<select class="form-control" id="ruta2" multiple
													ng-model="filtersTitular.rutas">
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" class="form-control" id="nombreTitular"
													placeholder="Nombre" ng-model="filtersTitular.nombre">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" class="form-control" id="appTitular"
													placeholder="Apellido"
													ng-model="filtersTitular.apellidoPaterno">
											</div>
										</div>
									</div>
									<div class="form-group-separator"></div>
									<div class="table-responsive" data-pattern="priority-columns"
										data-focus-btn-icon="fa-asterisk"
										data-sticky-table-header="true"
										data-add-display-all-btn="false" data-add-focus-btn="false">
										<table
											class="table table-small-font table-bordered table-striped"
											id="example-3">
											<thead>
												<tr class="replace-inputs">
													<th data-priority="1">Titular</th>
													<th data-priority="1">Nombre Completo</th>
													<th data-priority="3">Ruta</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="clienteItem in clientes">
													<td><input type="radio" ng-model="$parent.titular"
														ng-value="{{clienteItem}}" name="titular" /></td>
													<td>{{clienteItem.nombre}}
														{{clienteItem.apellidoPaterno}}
														{{clienteItem.apellidoMaterno}}</td>
													<td class="center"><span class="label label-success">{{clienteItem.ruta}}</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- FIN BUSQUEDA CLIENTES -->
				<!-------------------------------------------------------  -->
				<!-- DIV NUEVO CRÉDITO -->
				<div class="tab-pane with-bg" id="nuevoCredito">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-title encabezados">Datos del nuevo
								crédito</div>
							<br>

						</div>
						<!-- Default panel -->
						<div class="collapsed panel-default">
							<!-- Add class "collapsed" to minimize the panel -->
							<div class="panel-body">
								<div class="panel-heading">
									<div class="panel-title encabezados">
										<b>Titular</b>
									</div>
									<br>
								</div>
								<div>
									<label style="width: 60px">Nombre:</label><label>
										{{titular.nombreCliente || titular.nombre}} </label><br> <label
										style="width: 60px">Unidad:</label><label>
										{{titular.rutaCliente || titular.ruta}} </label><br> <br>

								</div>
								<div class="panel-heading">
									<div class="panel-title encabezados">
										<b>Creditos a unificar</b>
									</div>
									<br>
								</div>
								<div class="table-responsive" data-pattern="priority-columns"
									data-focus-btn-icon="fa-asterisk"
									data-sticky-table-header="true"
									data-add-display-all-btn="false" data-add-focus-btn="false">
									<table
										class="table table-small-font table-bordered table-striped"
										id="example-3">
										<thead>
											<tr class="replace-inputs">
												<th data-priority="1">Nombre</th>
												<th data-priority="3">Saldo</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in creditosSeleccionados">
												<td>{{item.nombreCliente}}</td>
												<td>{{item.saldo | currency}}</td>
											</tr>
											<tr>

												<td><b>TOTAL</b></td>
												<td><b>{{saldoAcumulado | currency}}</b></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>


							<!-- DATOS CREDITO -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="panel-title encabezados">Nuevo Crédito</div>
								</div>
								<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
								<div class="panel-body txtparrafos">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Comisión por
													Restructura</label> <input type="text" class="form-control"
													ng-model="comisionRest" ng-change="calculaSaldo();" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Monto Unificado</label> <input
													class="form-control" name="mon_min" value="" type="number"
													data-validate="required" ng-disabled="true"
													ng-model="saldoAcumulado" ng-change="calculaSaldo();">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Producto</label> <select
													class="form-control" name="producto"
													ng-model="creditoNuevo.idProducto"
													ng-change="cambioProducto();" required>
													<option ng-repeat="producto in productos"
														ng-selected="credito.idProducto==producto.idProducto"
														value="{{producto.idProducto}}">{{producto.nombre}}</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Monto Total</label> <input
													class="form-control" name="mon_min" value="" type="number"
													data-validate="required" ng-min="credito.minimo"
													ng-max="credito.maximo" ng-disabled="true"
													title="Campo obligatorio, ingrese un número válido"
													placeholder="Ingrese el monto mínimo" ng-model="montoNeg">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Plazo</label> <input
													type="number" data-validate="number" class="form-control"
													name="PlazoC" ng-model="creditoNuevo.plazo"
													ng-disabled="productDisabled" />

											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Unidade de plazo</label> <input
													type="text" data-validate="number" class="form-control"
													name="PagoC" ng-model="creditoNuevo.unidadPlazo"
													ng-disabled="true" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Pago x Millar</label> <input
													type="text" data-validate="number" class="form-control"
													name="pagoMillar" ng-model="creditoNuevo.pago"
													ng-disabled="true" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Forma de pago</label> <input
													type="text" data-validate="number" class="form-control"
													name="frecuenciaCobro"
													ng-model="creditoNuevo.frecuenciaCobro" ng-disabled="true" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Comision</label> <input
													type="text" data-validate="number" class="form-control"
													name="comision" ng-model="creditoNuevo.comision"
													ng-disabled="productDisabled" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Tasa de Referencia</label> <input
													type="text" data-validate="number" class="form-control"
													name="tasa" ng-model="creditoNuevo.tasa"
													ng-disabled="productDisabled" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Co-Deudor</label> <select
													class="form-control" name="codeudor"
													ng-model="creditoNuevo.idCoDedudor"
													ng-required="requiereCod">
													<option ng-repeat="codeudor in codeudores"
														ng-selected="codeudor.id==creditoNuevo.idCoDeudor"
														value="{{codeudor.id}}">{{codeudor.nombre +' '+
														codeudor.apellidoPaterno +' '+ codeudor.apellidoMaterno}}</option>
												</select>
											</div>
										</div>



										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Fecha de Emisión</label> <input
													class="form-control datepicker" data-start-view="2"
													ng-model="creditoNuevo.fechaEmision" required>
											</div>
										</div>
									</div>
								</div>

								<div class="row" rowspan="2">

									<div align="center" class="form-group">
										<button type="button" class="btn btn-success"
											ng-click="submitTheForm()">Registrar Ahora</button>
										<!--  -->
									</div>


								
								</div>


							</div>
						</div>
						<!-------------------------------------------------------  -->
						<!-- FIN DIV NUEVO CRÉDITO -->
						<!-- id="fwv-6" -->
					</div>
				</div>
				<!--  "tab-content no-margin" -->
				<!-- Tabs Pager -->
				<ul class="pager wizard">
					<li class="previous"><a href="#"><i
							class="entypo-left-open"></i> Anterior</a></li>

					<li class="next"><a href="#">Siguiente <i
							class="entypo-right-open"></i></a></li>
				</ul>
		</form>
	</div>
</div>


