

	<page-title ng-if="layoutOptions.pageTitles" title="Registro de Cuestionario" description="Debe ingresar la información completa del cuestionario que se va a dar de alta en el sistema">
	</page-title>


<div class="panel panel-default">

	<div class="panel-heading">
		<div class="panel-title">
			Datos generales
		</div>
		
		<small class="text-small pull-right" style="padding-top:5px;">
		</small>
	</div>
	
	<div class="panel-body">
	
		<form role="form" id="form1" method="post" class="validate">
			
			<div class="form-group">
				<label class="control-label">Nombre del cuestionario</label>
				
				<input type="text" class="form-control" name="ru_telefono" data-validate="maxlength[2]" />
			</div>
			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success">Registrar Ahora</button>
                <button type="submit" class="btn btn-success">Duplicar Cuestionario</button>
			</div>
		
		</form>
	
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Secciones</h3>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success" ng-click="openModal('modal-5', 'lg');">Agregar Seccion</button></div>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success" ng-click="openModal('modal-6', 'lg');">Agregar Pregunta</button></div>
	</div>
	<div class="panel-body">
		
		
		<div id="tree"></div>
		
				
	</div>
</div>



<script type="text/ng-template" id="modal-5">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Agregar seccion</h4>
	</div>
	
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				
				<div class="form-group">
					<label for="field-1" class="control-label">Nombre</label>
					
					<input type="text" class="form-control" id="field-1" placeholder="Seccion uno">
				</div>	
				
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Guardar</button>
	</div>
</script>


<script type="text/ng-template" id="modal-6">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Agregar pregunta</h4>
	</div>
	
	<div class="modal-body">
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-1" class="control-label">Lineamiento</label>
					
					<input type="text" class="form-control" id="field-1" placeholder="John">
				</div>	
				
			</div>
			
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-3" class="control-label">Pregunta</label>
					
					<input type="text" class="form-control" id="field-3" placeholder="Address">
				</div>	
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-3" class="control-label">Tipo</label>
					
					<input type="text" class="form-control" id="field-3" placeholder="Address">
				</div>	
				
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-4" class="control-label">Requerido</label>
					
					<input type="text" class="form-control" id="field-4" placeholder="Boston">
				</div>	
				
			</div>
						
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group no-margin">
					<label for="field-7" class="control-label">Comentario</label>
					
					<textarea class="form-control autogrow" id="field-7" placeholder="Write something about yourself"></textarea>
				</div>	
				
			</div>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Guardar</button>
	</div>
</script>





<script type="text/javascript">
		// This JavaScript Will Replace Checkboxes in dropdown toggles
		jQuery(document).ready(function($)
		{
			
			function getTree() {
				// Some logic to retrieve, or generate tree structure
				var tree = [
				  {
				    text: "01. Evaluación del Servicio",
				    nodes: [
				      {
				        text: "01. Imagen del vendedor",
				        nodes: [
				          {
				            text: "1.-¿Los vendedores dan buena imagen?  (Mujer: Peinado recogido, maquillaje discreto, tatuajes no visibles, libre de accesorios en muñecas (excepto reloj), esmalte de uñas en colores claros o pasteles Hombre: Cabello corto, bigote o barba arreglada y corta, tatuajes no visibles, uñas limpias y recortadas"
				          }
				        ]
				      },
				      {
				        text: "02.RECIBE (Atención y Amabilidad del vendedor)",
				        nodes: [
				          {
				            text: "1.- ¿Fue recibido con un saludo (frase de bienvenida) ó una sonrisa?  (en caso de no ser el cliente en turno, fue reconocido y le indicaron que en un momento lo atenderían)"
				          }
				        ]
				      },
				      {
				        text: "03. INVESTIGA (Detección de Necesidades)",
				        nodes: [
				          {
				            text: "1.- ¿El vendedor preguntó por tu problema o proyecto (qué es lo que necesitaba o buscaba)?"
				          },
				          {
				            text: "2.- ¿El vendedor realizo al menos tres preguntas de investigación de necesidades como: identifica que va hacer (pintar barnizar, impermeabilizar); lugar de aplicación  (interior - exterior) y condiciones de la superficie (limpia, nueva, problemas de humedad, salitre, oxido)"
				          }
				        ]
				      },
				      {
				        text: "04.  ATIENDE (Asesoría del vendedor)",
				        nodes: [
				          {
				            text: "1.- ¿El vendedor se apoyó  en alguna herramienta de venta para ayudarle a seleccionar el producto?  (cuáles)"
				          },
				          {
				            text: "2.- Detalle cuales "
				          },
				          {
				            text: "3.- ¿El vendedor le ofreció al menos dos alternativas? (marcas, presentaciones, etc.)"
				          },
				          {
				            text: "4.- ¿El vendedor explicó como se aplica el producto?"
				          },
				          {
				            text: "5.- ¿El vendedor le ofreció productos para el preparado? "
				          },
				          {
				            text: "6.- ¿El vendedor le ofreció productos para el  sellado de superficie? "
				          },
				          {
				            text: "7.- ¿El vendedor le ofreció productos para el acabado de superficie? "
				          }
				        ]
				      },
				      {
				        text: "05. CIERRA (Promociones y Descuentos)",
				        nodes: [
				          {
				            text: "1.- ¿Le ofrecieron la promoción vigente?"
				          }
				        ]
				      },
				      {
				        text: "06. CIERRA ( Forma de pago y servicios adicionales) ",
				        nodes: [
				          {
				            text: "1.- ¿El vendedor le menciono las formas de pago? "
				          },
				          {
				            text: "2.- ¿Le entregaron nota, ticket o factura de su compra sin ningún contratiempo?"
				          },
				          {
				            text: "3.- ¿Aceptan tarjetas de crédito y/o débito? (PREGUNTAR SI ACEPTAN TARJETAS)"
				          },
				          {
				            text: "4.- El vendedor le ofreció el servicio a domicilio "
				          },
				          {
				            text: "COMENTARIOS"
				          }
				        ]
				      },
				      {
				        text: "Preguntas Adicionales",
				        nodes: [
				          {
				            text: "1.- Nombre del vendedor que me atendió"
				          },
				          {
				            text: "2.- ¿Qué producto compré?"
				          },
				          {
				            text: "3.- Costo del Producto comprado"
				          }
				        ]
				      }
				    ]
				  },
				  {
				    text: "02. EVALUACION FISICA",
				    nodes: [
				      {
				        text: "07. Uniforme del Vendedor",
				        nodes: [
				          {
				            text: "1.- ¿El (los) vendedor (os), utiliza  camisola o playera con el logo de la tienda/Comex?"
				          },
				          {
				            text: "2.- ¿El (los) vendedor (os), portan zapato de seguridad o protección? (NO TENNIS)  Criterios: Solo considerar personal de la tienda, personal que sea de corporativo u otra tienda no considerarlo (se le preguntará al encargado quienes son personal de la tienda)"
				          },
				          {
				            text: "Comentarios (detalla minuciosamente los no cumplimientos)"
				          }
				        ]
				      },
				      {
				        text: "08. Herramientas de Color",
				        nodes: [
				          {
				            text: "1.-¿El centro de igualado se encuentra en funcionamiento?"
				          },
				          {
				            text: "2.- ¿El centro de igualado se encuentra limpio y en buen estado?  Criterios: El centro de igualado no debe tener manchas excesivas de pintura (que se observe una sobre otra en exceso y de mucho tiempo) , además deberás de pasar la mano por encima del centro de igualado, no importa  la antigüedad del mismo debe estar libre de polvo."
				          },
				          {
				            text: "3.- ¿La tienda cuenta con Display de color Life (rack de color) ? "
				          },
				          {
				            text: "4.- ¿El Display de color Life se encuentra limpio? (SOLO SI CONTESTO QUE SI TIENE)"
				          },
				          {
				            text: "5.- ¿El Display de color Life se encuentra lleno de muestras? (SÓLO SI CONTESTÓ QUE SI TIENE) "
				          },
				          {
				            text: "6.- En caso de no encontrar el Display de color Life, preguntar ¿Por qué no cuentan con el? (explicar detalle)  "
				          },
				          {
				            text: "7.- ¿Cuenta con cartas de espacio de uso? (Sino se reconoce, indicar que es la carta que viene por recamará, sala, cocina, baño, comedor etc) "
				          },
				          {
				            text: "8.- ¿La tienda cuenta con ejemplares de la revista Sensaciones para su venta?"
				          },
				          {
				            text: "9.- ¿La tienda cuenta con Decorador Virtual?   "
				          },
				          {
				            text: "10.- ¿En la tienda que visitó funciona el Decorador Virtual? Criterio: Prende y tiene la aplicación (SOLO SI CONTESTO SI EN LA ANTERIOR)"
				          },
				          {
				            text: "11.- ¿Se cuenta con taco de color para consulta del cliente?"
				          },
				          {
				            text: "12.- ¿El taco de color se encuentra limpio y en buenas condiciones?   Criterios: Si a la vista se ve sucio, tiene manchas de pintura ó está roto"
				          },
				          {
				            text: "13.-¿Cuenta con los muestrarios de color? (vinimex, esmalte, pro1000, realflex) "
				          },
				          {
				            text: "14.- ¿Cuenta con lanzamiento de Master Plus? "
				          },
				          {
				            text: "15.- ¿Cuenta con lanzamiento de practika? "
				          },
				          {
				            text: "Comentarios (detalla minuciosamente los no cumplimientos)"
				          }
				        ]
				      },
				      {
				        text: "09.  Limpieza de la tienda aspectos internos",
				        nodes: [
				          {
				            text: "1.- ¿El piso y los pasillos se encuentran libres de productos? (botes de pintura, cajas, deshechos, basura, tambores, cubetas, escobas)"
				          },
				          {
				            text: "2.- ¿Las paredes y techo se encuentran limpios y en buenas condiciones? (No grietas, bien pintadas, sin muestras de aplicación de producto en la pared, ni logos  y techo sin faltante de plafón)"
				          },
				          {
				            text: "3- ¿El mostrador y anaqueles se encuentran limpios, sin manchas y sin objetos que obstruyan la interacción con el cliente, salvo los autorizados por Comex para campaña, promocionales o herramientas de venta? Criterios: Se revisa que no haya manchas en el mostrador, además deberás de pasar la mano sobre el mostrador y verificar que no tenga polvo. Los anaqueles que estén a  la  vista del cliente no deben de tener demasiado polvo. La forma de revisarlo será  levantando el producto y verificando que no deje la marca del mismo en el anaquel"
				          },
				          {
				            text: "Comentarios (detalla minuciosamente los no cumplimientos)"
				          }
				        ]
				      },
				      {
				        text: "10. Seguridad",
				        nodes: [
				          {
				            text: "1.- ¿Cuenta con señalamientos de seguridad (ruta de evacuación visible al consumidor, no fumar, que hacer en caso de sismo e incendio y salida de emergencia? "
				          },
				          {
				            text: "2.- ¿Los extintores se encuentran con fecha actualizada de recarga?  Criterios: Si no cuentan con la fecha de recarga o la válvula no funciona, puede aceptarse la carta que indica que la carga esta vigente"
				          },
				          {
				            text: "3.- ¿La instalación eléctrica está oculta o canalizada, los contactos y apagadores están con tapa (no saturados, no cables expuestos) "
				          },
				          {
				            text: "4.- ¿Las lámparas se encuentran funcionando adecuadamente? (no fundidas, no parpadean) Nota: si estan apagados solicitar al encargado que las prenda para verificar que todas sirvan "
				          },
				          {
				            text: "5.-Vende thinner a granel (Pase a P6-P7, en caso de ser negativa la respuesta, pase a sección Fachada y aspectos externos)"
				          },
				          {
				            text: "6.- ¿Cuenta con los elementos (kit) para trasvase de solventes? DEBE CONTAR CON ALMENOS 4  Revisar diagrama"
				          },
				          {
				            text: "7.- ¿Cuenta con el equipo de protección Personal adicional? CONTAR CON ALMENOS LOS PRIMEROS 3  Revisar diagrama"
				          },
				          {
				            text: "Comentarios (detalla minuciosamente los no cumplimientos)"
				          }
				        ]
				      },
				      {
				        text: "11. Fachada y aspectos externos",
				        nodes: [
				          {
				            text: "1.- ¿La fachada está bien pintada y en buenas condiciones? (Sin griesta, No grafitti  y razones sociales)"
				          },
				          {
				            text: "2.- ¿La tienda cuenta con la imagen autorizada? (Logo, Colores, Resguardo de Marca, Anuncios)"
				          },
				          {
				            text: "3. ¿La tienda cuenta con lonas institucionales colocadas correctamente sin obstruir la fachada? (NA para tiendas sin espacio para lonas, o que el municipio no permita) "
				          },
				          {
				            text: "4.- ¿La tienda cuenta con facilidad de estacionamiento para sus clientes no mayor 20 Mts de la tienda y señalizado u ofrece este servicio? (SI NO LO VE, PREGUNTE AL vendedor SI TIENEN ESTACIONAMIENTO)"
				          },
				          {
				            text: "5. ¿La tienda cuenta con la imagen nueva (círculos - brocahazo de color)"
				          },
				          {
				            text: "6. ¿La tienda cuenta con la rotulación de servicios? (servicio a domicilio, tarjetas, teléfono y horario)"
				          },
				          {
				            text: "Comentarios (detalla minuciosamente los no cumplimientos)"
				          }
				        ]
				      },
				      {
				        text: "12. Planograma General de la Tienda",
				        nodes: [
				          {
				            text: "1.- ¿Los complementos se encuentran acomodados de acuerdo al planograma? (Revisar planograma de complementos)"
				          },
				          {
				            text: "2.- ¿El producto se encuentra acomodado con base en el planograma? VER PLANOGRAMA DEL MANUAL"
				          },
				          {
				            text: "3.- ¿Los productos están frenteados? (La etiqueta o marca esta mirando hacia usted)  Criterios: Los productos  deberán de estar frenteados mínimo en un 90% de los anaqueles para no ser penalizados"
				          },
				          {
				            text: "4.-¿El frente de los anaqueles contiene producto en un 90% de su totalidad?"
				          },
				          {
				            text: "5.- La tienda tiene cubetas en el piso"
				          },
				          {
				            text: "6.-Si hay cubetas en el piso, ¿las cubetas se encuentran alineadas simulando plataforma? CRITERIO:  Pueden estibarse en piso simulando una plataforma de (estiba x columna x fila) 3x3x3, 3x3x1, 3x3x2 y 3x2x2 (no más de 3 escenarios) "
				          },
				          {
				            text: "7.- ¿Todos los productos se encuentran etiquetados (etiqueta corporativa) , no productos re envasados?  Criterios: No puede haber botes sin etiquetas, si observas al menos uno se penaliza"
				          },
				          {
				            text: "8.- ¿Los productos se encuentran en buenas condiciones? (no golpes, etiquetas rotas, imagen anterior, manchados de pintura) Criterios: Los productos deberán estar en buenas condiciones al menos en 90% de los anaqueles."
				          },
				          {
				            text: "9.- ¿Cuenta con preciadores en los anaqueles?  Criterios: Todos los productos visibles al cliente deben de tener preciadores al menos uno por familia de productos."
				          },
				          {
				            text: "Comentarios (detalla minuciosamente los no cumplimientos)  "
				          }
				        ]
				      },
				      {
				        text: "13. Guía de Ejecución de Campaña",
				        nodes: [
				          {
				            text: " ¿Hay campaña nacional en curso? SHOPPER: Si el empleado dice que no hay campaña, verificar vs el calendario entregado cada ola. (En caso de no haber campaña todo el rubro es NA y pasar al siguiente segmento)"
				          },
				          {
				            text: "1.- ¿El empleado de tienda cuenta con la guía de ejecución de campaña?"
				          },
				          {
				            text: "2.- El producto de promoción vigente está exhibido en las cabeceras y/o islas? (está a la vista)  "
				          },
				          {
				            text: "3.- ¿Los materiales POP están colocados de acuerdo a la guía de ejecución de campaña? (en caso de que aplique campaña nacional)"
				          },
				          {
				            text: "4.-¿Tiene lona o pendón de campaña? (Debe de tener alguno de los dos)"
				          },
				          {
				            text: "Detallar si tiene lona o pendón y cuántos:"
				          },
				          {
				            text: "5.- Si tiene lona, están colocadas en un lugar que no obstruya la visibilidad"
				          },
				          {
				            text: "6.- Cuenta con inciativa \"vamos por 3\" ( Por lo menos un vendedor debe contar con la playera y el boton de vamos por 3 o con tent card) "
				          },
				          {
				            text: "Comentarios (detalla minuciosamente los no cumplimientos) "
				          }
				        ]
				      },
				      {
				        text: "Preguntas Adicionales",
				        nodes: [
				          {
				            text: "1.- Nombre completo del encargado de la tienda"
				          }
				        ]
				      }
				    ]
				  },
				  {
				    text: "Marco Regulatorio"
				  }
				];
				return tree;
			}

			$('#tree').treeview({data: getTree()});
			
			
			setTimeout(function()
			{
				$(".checkbox-row input").addClass('cbr');
				cbr_replace();
			}, 0);
		});
		</script>
		<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>