

	<page-title ng-if="layoutOptions.pageTitles" title="Asignación de Tiendas" description="Debe ingresar la información completa de las tiendas que se van a dar de alta en el sistema"></page-title>




<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Secciones</h3>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success" ng-click="openModal('modal-5', 'lg');">Asignar Usuario</button></div>
	</div>
	<div class="panel-body">
		
		
		<div id="tree"></div>
		
				
	</div>
</div>



<script type="text/ng-template" id="modal-5">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Agregar seccion</h4>
	</div>
	
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				
				<div class="form-group">
					<label for="field-1" class="control-label">Nombre</label>
					
					<input type="text" class="form-control" id="field-1" placeholder="Seccion uno">
				</div>	
				
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Guardar</button>
	</div>
</script>


<script type="text/ng-template" id="modal-6">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Agregar pregunta</h4>
	</div>
	
	<div class="modal-body">
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-1" class="control-label">Lineamiento</label>
					
					<input type="text" class="form-control" id="field-1" placeholder="John">
				</div>	
				
			</div>
			
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-3" class="control-label">Pregunta</label>
					
					<input type="text" class="form-control" id="field-3" placeholder="Address">
				</div>	
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-3" class="control-label">Tipo</label>
					
					<input type="text" class="form-control" id="field-3" placeholder="Address">
				</div>	
				
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-4" class="control-label">Requerido</label>
					
					<input type="text" class="form-control" id="field-4" placeholder="Boston">
				</div>	
				
			</div>
						
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group no-margin">
					<label for="field-7" class="control-label">Comentario</label>
					
					<textarea class="form-control autogrow" id="field-7" placeholder="Write something about yourself"></textarea>
				</div>	
				
			</div>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Guardar</button>
	</div>
</script>





<script type="text/javascript">
		// This JavaScript Will Replace Checkboxes in dropdown toggles
		jQuery(document).ready(function($)
		{
			
			function getTree() {
				// Some logic to retrieve, or generate tree structure
				var tree = [
				  {
				    text: "Regiones",
				    nodes: [
				      {
				        text: "Pacífico",
				        nodes: [
				          {
				            text: "Tiendas",
							nodes: [
				          {
				            text: "Tijuana "
				          },
				          {
				            text: "Mexicali"
				          },
				          {
				            text: "Sonora"
				          },
				          {
				            text: "Chihuahua"
				          },
						  {
				            text: "Chihuahua Sur"
				          },
						  {
				            text: "Baja California Sur"
				          },
						  {
				            text: "Sinaloa"
				          }					 
				        ]
				          }
				        ]
				      },
					  {
				        text: "Norte",
				        nodes: [
				          {
				            text: "Tiendas",
							nodes: [
				          {
				            text: "Durango"
				          },
				          {
				            text: "Huasteca Norte"
				          },
				          {
				            text: "San Luis Potosí"
				          },
				          {
				            text: "Zacatecas"
				          },
						  {
				            text: "Tamaulipas"
				          },
						  {
				            text: "Coauhuila"
				          },
						  {
				            text: "Nuevo Leon Centro"
				          },
						  {
				            text: "Nuevo Leon Foraneo"
				          }					 
				        ]
				          }
				        ]
				      },
					  {
				        text: "Occidente",
				        nodes: [
				          {
				            text: "Tiendas",
							nodes: [
				          {
				            text: "Puerto Vallarta"
				          },
				          {
				            text: "Jalisco Sur"
				          },
				          {
				            text: "Michoacan Norte"
				          },
				          {
				            text: "Michoacan Sur"
				          },
						  {
				            text: "Michoacan Centro"
				          },
						  {
				            text: "Aguascalientes"
				          },
						  {
				            text: "Guadalajara Sureste"
				          },
						  {
				            text: "Guadalajara Noreste"
				          },
						  {
				            text: "Guadalajara Suroeste"
				          },
						  {
				            text: "Guadalajara Noroeste"
				          }						 
				        ]
				          }
				        ]
				      },
					  
					  {
				        text: "Metro Oriente",
				        nodes: [
				          {
				            text: "Tiendas",
							nodes: [
				          {
				            text: "Nezahualcóyotl"
				          },
				          {
				            text: "Iztapalapa"
				          },
				          {
				            text: "Ixtapaluca"
				          },
				          {
				            text: "Texcoco"
				          },
						  {
				            text: "Gustavo A Madero"
				          },
						  {
				            text: "Venustiano Carranza"
				          },
						  {
				            text: "Ecatepec"
				          },
						  {
				            text: "Cuauhtémoc"
				          }				 
				        ]
				          }
				        ]
				      },
					  
					  {
				        text: "Metro Poniente",
				        nodes: [
				          {
				            text: "Tiendas",
							nodes: [
				          {
				            text: "Cuautitlán Izcalli"
				          },
				          {
				            text: "Naucalpan"
				          },
				          {
				            text: "Huixquilucan"
				          },
				          {
				            text: "Polanco"
				          },
						  {
				            text: "Miguel Hidalgo"
				          },
						  {
				            text: "Alvaro Obregón"
				          },
						  {
				            text: "Coyoacán"
				          },
						  {
				            text: "Xochimilco"
				          }				 
				        ]
				          }
				        ]
				      },
					  
					  {
				        text: "Centro",
				        nodes: [
				          {
				            text: "Tiendas",
							nodes: [
				          {
				            text: "Puebla"
				          },
				          {
				            text: "Tlaxcala Chiautempan"
				          },
				          {
				            text: "Tlaxcala Centro"
				          },
				          {
				            text: "Morelos Foraneo"
				          },
						  {
				            text: "Morelos Centro"
				          },
						  {
				            text: "Hidalgo Centro"
				          },
						  {
				            text: "Hidalgo Foraneo"
				          },
						  {
				            text: "Guanajuato Centro"
				          },
						  {
				            text: "Querétaro"
				          },
						  {
				            text: "Guanajuato Sur"
				          },						  					 
				        ]
				          }
				        ]
				      },
					  
					  {
				        text: "Golfo",
				        nodes: [
				          {
				            text: "Tiendas",
							nodes: [
				          {
				            text: "Peninsula"
				          },
				          {
				            text: "Campeche"
				          },
				          {
				            text: "Ciudad del Carmen"
				          },
				          {
				            text: "Villahermosa"
				          },
						  {
				            text: "Minatitlán"
				          },
						  {
				            text: "Veracruz Puerto"
				          },
						  {
				            text: "Xalapa"
				          },
						  {
				            text: "Poza Rica de Hidalgo"
				          }						  					 
				        ]
				          }
				        ]
				      },
					  
					  {
				        text: "Sur",
				        nodes: [
				          {
				            text: "Tiendas",
							nodes: [
				          {
				            text: "Tapachula"
				          },
				          {
				            text: "Tuxtla Gutiérrez"
				          },
				          {
				            text: "Oaxaca Foraneo"
				          },
				          {
				            text: "Guerrero"
				          },
						  {
				            text: "Oaxaca Centro"
				          },
						  {
				            text: "Toluca Centro"
				          },
						  {
				            text: "Toluca Poniente"
				          },
						  {
				            text: "Toluca Oriente"
				          }						  					 
				        ]
				          }
				        ]
				      },

				    ]
				  },

				];
				return tree;
			}

			$('#tree').treeview({data: getTree()});
			
			
			setTimeout(function()
			{
				$(".checkbox-row input").addClass('cbr');
				cbr_replace();
			}, 0);
		});
		</script>
		<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>
<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#s2example-1").select2({
									placeholder: 'Select your country...',
									allowClear: true
								}).on('select2-open', function()
								{
									// Adding Custom Scrollbar
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});
								
							});
						</script>
<script type="text/ng-template" id="modal-5">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Asignar Usuario</h4>
	</div>
	
	<div class="modal-body">
	
		<div class="row">

				
				<div class="form-group">
					<label for="field-1" class="control-label">Por favor, seleccione su archivo.</label>
					
					<div class="form-group">

					
							
						
						<select class="form-control" id="s2example-1">
							<option></option>
							<optgroup label="North America">
								<option>Alabama</option>
								<option>Alaska</option>
								<option>Arizona</option>
								<option>Arkansas</option>
								<option>California</option>
								<option>Colorado</option>
								<option>Connecticut</option>
								<option>Delaware</option>
								<option>Florida</option>
								<option>Georgia</option>
								<option>Hawaii</option>
								<option>Idaho</option>
								<option>Illinois</option>
								<option>Indiana</option>
								<option>Iowa</option>
								<option>Kansas</option>
								<option>Kentucky[C]</option>
								<option>Louisiana</option>
								<option>Maine</option>
								<option>Maryland</option>
								<option>Massachusetts[D]</option>
								<option>Michigan</option>
								<option>Minnesota</option>
								<option>Mississippi</option>
								<option>Missouri</option>
								<option>Montana</option>
								<option>Nebraska</option>
								<option>Nevada</option>
								<option>New Hampshire</option>
								<option>New Jersey</option>
								<option>New Mexico</option>
								<option>New York</option>
								<option>North Carolina</option>
								<option>North Dakota</option>
								<option>Ohio</option>
								<option>Oklahoma</option>
								<option>Oregon</option>
								<option>Pennsylvania[E]</option>
								<option>Rhode Island[F]</option>
								<option>South Carolina</option>
								<option>South Dakota</option>
								<option>Tennessee</option>
								<option>Texas</option>
								<option>Utah</option>
								<option>Vermont</option>
								<option>Virginia[G]</option>
								<option>Washington</option>
								<option>West Virginia</option>
								<option>Wisconsin</option>
								<option>Wyoming</option>
							</optgroup>
							<optgroup label="Europe">
								<option>Albania</option>
								<option>Andorra</option>
								<option>Armenia</option>
								<option>Austria</option>
								<option>Azerbaijan</option>
								<option>Belarus</option>
								<option>Belgium</option>
								<option>Bosnia & Herzegovina</option>
								<option>Bulgaria</option>
								<option>Croatia</option>
								<option>Cyprus</option>
								<option>Czech Republic</option>
								<option>Denmark</option>
								<option>Estonia</option>
								<option>Finland</option>
								<option>France</option>
								<option>Georgia</option>
								<option>Germany</option>
								<option>Greece</option>
								<option>Hungary</option>
								<option>Iceland</option>
								<option>Ireland</option>
								<option>Italy</option>
								<option>Kosovo</option>
								<option>Latvia</option>
								<option>Liechtenstein</option>
								<option>Lithuania</option>
								<option>Luxembourg</option>
								<option>Macedonia</option>
								<option>Malta</option>
								<option>Moldova</option>
								<option>Monaco</option>
								<option>Montenegro</option>
								<option>The Netherlands</option>
								<option>Norway</option>
								<option>Poland</option>
								<option>Portugal</option>
								<option>Romania</option>
								<option>Russia</option>
								<option>San Marino</option>
								<option>Serbia</option>
								<option>Slovakia</option>
								<option>Slovenia</option>
								<option>Spain</option>
								<option>Sweden</option>
								<option>Switzerland</option>
								<option>Turkey</option>
								<option>Ukraine</option>
								<option>United Kingdom</option>
								<option>Vatican City (Holy See)</option>
							</optgroup>
							<optgroup label="Asia">
								<option>Afghanistan</option>
								<option>Bahrain</option>
								<option>Bangladesh</option>
								<option>Bhutan</option>
								<option>Brunei</option>
								<option>Cambodia</option>
								<option>China</option>
								<option>East Timor</option>
								<option>India</option>
								<option>Indonesia</option>
								<option>Iran</option>
								<option>Iraq</option>
								<option>Israel</option>
								<option>Japan</option>
								<option>Jordan</option>
								<option>Kazakhstan</option>
								<option>Korea North</option>
								<option>Korea South</option>
								<option>Kuwait</option>
								<option>Kyrgyzstan</option>
								<option>Laos</option>
								<option>Lebanon</option>
								<option>Malaysia</option>
								<option>Maldives</option>
								<option>Mongolia</option>
								<option>Myanmar (Burma)</option>
								<option>Nepal</option>
								<option>Oman</option>
								<option>Pakistan</option>
								<option>The Philippines</option>
								<option>Qatar</option>
								<option>Russia</option>
								<option>Saudi Arabia</option>
								<option>Singapore</option>
								<option>Sri Lanka</option>
								<option>Syria</option>
								<option>Taiwan</option>
								<option>Tajikistan</option>
								<option>Thailand</option>
								<option>Turkey</option>
								<option>Turkmenistan</option>
								<option>United Arab Emirates</option>
								<option>Uzbekistan</option>
								<option>Vietnam</option>
								<option>Yemen</option>
							</optgroup>
						</select>
						
					</div>
				
				
		</div>
				</div>	
				

			
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Asignar</button>
	</div>
</script>


