

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Captura/edición de resultados</h3>
		
<div class="panel-options btn1"><a href="index.html#/app/users-registro_usuarios" type="submit" class="btn btn-success">Descargar plantilla</a></div>		
	</div>
	<div class="panel-body">
		
		<!-- Default panel -->
		<div class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon" style="color: black">&ndash;</span>
						<span class="expand-icon" style="color: black">+</span>
					</a>
				</div>
			</div>
			
			<div class="panel-body">
			<form role="form">
				<div class="row">
					<div class="col-md-12">
		
	</div><script type="text/javascript">
				jQuery(document).ready(function($)
				{
					$("#s2example-1").select2({
						placeholder: 'Regiones',
						allowClear: true
					}).on('select2-open', function()
					{
						// Adding Custom Scrollbar
						$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
					});
					
				});
			</script>
            
            <script type="text/javascript">
				jQuery(document).ready(function($)
				{
					$("#s2example-2").select2({
						placeholder: 'Zonas',
						allowClear: true
					}).on('select2-open', function()
					{
						// Adding Custom Scrollbar
						$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
					});
					
				});
			</script>
            
            <script type="text/javascript">
				jQuery(document).ready(function($)
				{
					$("#s2example-3").select2({
						placeholder: 'Nombre de Tienda',
						allowClear: true
					}).on('select2-open', function()
					{
						// Adding Custom Scrollbar
						$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
					});
					
				});
			</script>
            
            <script type="text/javascript">
				jQuery(document).ready(function($)
				{
					$("#s2example-4").select2({
						placeholder: 'Proveedor',
						allowClear: true
					}).on('select2-open', function()
					{
						// Adding Custom Scrollbar
						$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
					});
					
				});
			</script>
            
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
                            <select class="form-control" id="s2example-1" multiple>
				<option></option>
				<option>Pacífico</option>
				<option>Norte</option>
				<option>Occidente</option>
				<option>Metro Oriente</option>
                <option>Metro Oriente</option>
                <option>Metro Poniente</option>
                <option>Centro</option>
                <option>Golfo</option>
                <option>Sur</option>
			</select>
						</div>	
					</div>
					
					<div class="col-md-6">						
						<div class="form-group">
							<select class="form-control" id="s2example-2" multiple>
				<option></option>
				<option>Tijuana</option>
				<option>Meicali</option>
				<option>Sonora</option>
				<option>Chihuahua</option>
                <option>Chihuahua Sur</option>
                <option>Baja California Sur</option>
                <option>Sinaloa</option>
                <option>Durango</option>
                <option>Huastecas Norte</option>
                <option>San Luis Potosí</option>
                <option>Zacatecas</option>
                <option>Tamaulipas</option>
                <option>Coahuila</option>
                <option>Nuevo León Centro</option>
                <option>Nuevo León Foraneo</option>
                <option>Puerto Vallarta</option>
                <option>Jalisco Sur</option>
                <option>Michoacán Norte</option>
                <option>Michoacán Sur</option>
                <option>Michoacán Centro</option>
                <option>Aguascalientes</option>
                <option>Guadalajara Sureste</option>
                <option>Guadalajara Noreste</option>
                <option>Guadalajara Suroeste</option>
                <option>Guadalajara Noroeste</option>
                <option>Nezahuacóyotl</option>
                <option>Iztapalapa</option>
                <option>Ixtapaluca</option>
                <option>Texcoco</option>
                <option>Gustavo A Madero</option>
                <option>Venustiano Carranza</option>
                <option>Ecatepec</option>
                <option>Cuauhtémoc</option>
                <option>Cuautitlán Izcalli</option>
                <option>Naucalpan</option>
                <option>Huixquilucan</option>
                <option>Polanco</option>
                <option>Miguel Hidalgo</option>
                <option>Alvaro Obregón </option>
                <option>Coyoacán</option>
                <option>Xochimilco</option>
                <option>Puebla</option>
                <option>Tlaxcala Chiautempan</option>
                <option>Tlaxcala Centro</option>
                <option>Morelos Foráneo</option>
                <option>Morelos Centro</option>
                <option>Hidalgo Centro</option>
                <option>Hidalgo Foráneo</option>
                <option>Guanajuato Centro</option>
                <option>Querétaro</option>
                <option>Guanajuato Sur</option>
                <option>Peninsula</option>
                <option>Campeche</option>
                <option>Ciudad del Carmen</option>
                <option>Villahermosa</option>
                <option>Minatitlán</option>
                <option>Veracruz Puerto</option>
                <option>Xalapa</option>
                <option>Poza Rica de Hidalgo</option>
                <option>Tapachula</option>
                <option>Tuxtla Gutirérrez</option>
                <option>Oaxaca Foráneo</option>
                <option>Guerrero</option>
                <option>Oaxaca Centro</option>
                <option>Toluca Centro</option>
                <option>Toluca Poniente</option>
                <option>Toluca Oriente</option>                
			</select>
						</div>	
					</div>
				</div>
			

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							 <select class="form-control" id="s2example-3" multiple>
				<option></option>
				<option>Comex 1</option>
				<option>Comex 2</option>
				<option>Comex 3</option>
				<option>Comex 4</option>
                <option>Comex 5</option>
                <option>Comex 6</option>
                <option>Comex 7</option>
                <option>Comex 8</option>
                <option>Comex 9</option>
                <option>Comex 10</option>
                <option>Comex 11</option>
			</select>
						</div>	
					</div>
					
					<div class="col-md-6">						
						<div class="form-group">
							<select class="form-control" id="s2example-4" multiple>
				<option></option>
				<option>Proveedor 1</option>
				<option>Proveedor 2</option>
				<option>Proveedor 3</option>
				<option>Proveedor 4</option>
                <option>Proveedor 5</option>
                <option>Proveedor 6</option>
                <option>Proveedor 7</option>
                <option>Proveedor 8</option>
                <option>Proveedor 9</option>
                <option>Proveedor 10</option>
                <option>Proveedor 11</option>
			</select>
						</div>	
					</div>
				</div>

		
		<div class="form-group-separator"></div>
			</form>
			</div>
		</div>
		
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
		<table class="table table-small-font table-bordered table-striped"  id="example-3">
			<thead>
				<tr class="replace-inputs">
					<th>Tienda</th>
					<th>Fecha que se evalua</th>
					<th>Detalle</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Comex 1</td>
					<td>01/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 2</td>
					<td>02/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 3</td>
					<td>03/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 4</td>
					<td>04/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 5</td>
					<td>05/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 6</td>
					<td>06/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 7</td>
					<td>07/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 8</td>
					<td>08/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 9</td>
					<td>09/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 10</td>
					<td>10/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
				<tr>
					<td>Comex 11</td>
					<td>11/02/2016</td>
					<td><a href="index.html#/app/ejec_dia-detalle" class="btn btn-info btn-sm btn-icon icon-left fa-file-text-o"></a></td>
				</tr>
			</tbody>
			
		</table>
		</div>
	</div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>