<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Captura/edición de resultados > Ver Detalle</h3>
		
		<div class="panel-options btn1"><a href="index.html#/app/users-registro_usuarios" type="submit" class="btn btn-success">Enviar Formulario</a></div>
	</div>
	<div class="panel-body">

<div style="page-break-before: auto; class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false"  >
		<table class="table table-small-font table-bordered table-striped"  id="example-3">
			<thead>
				<tr class="replace-inputs">
                    <th>Lineamiento</th>
					<th>Evaluación del Servicio</th>
					<th>Aprobación</th>
				</tr>
			</thead>
			<tbody>
            <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">01. Imagen del vendedor</td>
					<td>
                    </td>
				</tr>
				<tr>
                <td>Lineamiento 10 (Evaluación de Servicio-Imagen del vendedor)</td>
				<td>"1.-¿Los vendedores dan buena imagen (Mujer: Peinado recogido, maquillaje discreto, tatuajes no visibles, libre de accesorios en muñecas (excepto reloj), esmalte de uñas en colores claros o pasteles
• Hombre: Cabello corto, bigote o barba arreglada y corta, tatuajes no visibles, uñas limpias y recortadas"
</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">02.RECIBE (Atención y  Amabilidad del vendedor)</td>
					<td>
                    </td>
				</tr>
				<tr>
                <td>Lineamiento 10 (Evaluación de Servicio-Atención y amabilidad del vendedor) </td>
				<td>"1.- ¿Fue recibido con un saludo (frase de bienvenida) ó una sonrisa?  (en caso de no ser el cliente en turno, fue reconocido y le indicaron que en un momento lo atenderían)</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF";>03. INVESTIGA (Detección de Necesidades)</td>
					<td>
                    </td>
				</tr>
				<tr>
                <td>Lineamiento 10 (Evaluación de Servicio-Detección de necesidades)</td>
				<td>1.- ¿El vendedor preguntó por tu problema o proyecto (qué es lo que necesitaba o buscaba)?</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
				<tr style="background-color:#fff;">
                <td></td>
				<td>2.- ¿El vendedor realizo al menos tres preguntas de investigación de necesidades como: identifica que va hacer (pintar barnizar, impermeabilizar); lugar de aplicación  (interior - exterior) y condiciones de la superficie (limpia, nueva, problemas de humedad, salitre, oxido) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
				</tr>
                
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">04.  ATIENDE (Asesoría del vendedor)</td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 10 (Evaluación de Servicio-Asesoría del vendedor)</td>
				<td>1.- ¿El vendedor se apoyó  en alguna herramienta de venta para ayudarle a seleccionar el producto?  (cuáles)
</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>2.- Detalle cuales </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>3.- ¿El vendedor le ofreció al menos dos alternativas? (marcas, presentaciones, etc.) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>4.- ¿El vendedor explicó como se aplica el producto? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>5.- ¿El vendedor le ofreció productos para el preparado?</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>6.- ¿El vendedor le ofreció productos para el  sellado de superficie? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>7.- ¿El vendedor le ofreció productos para el acabado de superficie? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">05. CIERRA (Promociones y Descuentos) </td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 10 (Evaluación de Servicio-Promociones y descuentos) </td>
				<td>1.- ¿Le ofrecieron la promoción vigente?</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">06. CIERRA ( Forma de pago y servicios adicionales) </td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 10 (Evaluación de Servicio-Forma de pago)</td>
				<td>1.- ¿El vendedor le menciono las formas de pago? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>2.- ¿Le entregaron nota, ticket o factura de su compra sin ningún contratiempo? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>3.- ¿Aceptan tarjetas de crédito y/o débito? (PREGUNTAR SI ACEPTAN TARJETAS) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>4.- El vendedor le ofreció el servicio a domicilio </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">Preguntas Adicionales</td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td></td>
				<td>1.- Nombre del vendedor que me atendió </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>2.- ¿Qué producto compré? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>3.- Costo del Producto comprado </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>

			</tbody>
			
		</table>
        <br>
        <br>
        
        <!--TABLA DE EVALUACIÓN FÍSICA-->
        
        <table class="table table-small-font table-bordered table-striped"  id="example-3">
			<thead>
				<tr class="replace-inputs">
                    <th>Lineamiento</th>
					<th>Evaluación Física</th>
					<th>Aprobación</th>
				</tr>
			</thead>
			<tbody>
            <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">07. Uniforme del Vendedor</td>
					<td>
                    </td>
				</tr>
				<tr>
                <td>Lineamiento 10 (Evaluación Física-Uniforme del vendedor)</td>
				<td>1.- ¿El (los) vendedor (os), utiliza  camisola o playera con el logo de la tienda/Comex? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>2.- ¿El (los) vendedor (os), portan zapato de seguridad o protección? (NO TENNIS)  Criterios: Solo considerar personal de la tienda, personal que sea de corporativo u otra tienda no considerarlo (se le preguntará al encargado quienes son personal de la tienda) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">08. Herramientas de Color</td>
					<td>
                    </td>
				</tr>
				<tr style="background:#FFFFFF;">
                <td>Lineamiento 10 (Evaluación Física-Herramientas de color)</td>
				<td>1.-¿El centro de igualado se encuentra en funcionamiento? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>2.- ¿El centro de igualado se encuentra limpio y en buen estado?  Criterios: El centro de igualado no debe tener manchas excesivas de pintura (que se observe una sobre otra en exceso y de mucho tiempo) , además deberás de pasar la mano por encima del centro de igualado, no importa  la antigüedad del mismo debe estar libre de polvo.
</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>3.- ¿La tienda cuenta con Display de color Life (rack de color) ? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>4.- ¿El Display de color Life se encuentra limpio? (SOLO SI CONTESTO QUE SI TIENE) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>5.- ¿El Display de color Life se encuentra lleno de muestras? (SÓLO SI CONTESTÓ QUE SI TIENE) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>6.- En caso de no encontrar el Display de color Life, preguntar ¿Por qué no cuentan con el? (explicar detalle)</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>7.- ¿Cuenta con cartas de espacio de uso? (Sino se reconoce, indicar que es la carta que viene por recamará, sala, cocina, baño, comedor etc) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                 <tr style="background:#FFFFFF;">
                <td></td>
				<td>8.- ¿La tienda cuenta con ejemplares de la revista Sensaciones para su venta? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>9.- ¿La tienda cuenta con Decorador Virtual? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>10.- ¿En la tienda que visitó funciona el Decorador Virtual? Criterio: Prende y tiene la aplicación (SOLO SI CONTESTO SI EN LA ANTERIOR) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>11.- ¿Se cuenta con taco de color para consulta del cliente? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>12.- ¿El taco de color se encuentra limpio y en buenas condiciones? Criterios: Si a la vista se ve sucio, tiene manchas de pintura ó está roto </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>13.-¿Cuenta con los muestrarios de color? (vinimex, esmalte, pro1000, realflex) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>14.- ¿Cuenta con lanzamiento de Master Plus? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                <tr style="background:#FFFFFF;">
                <td></td>
				<td>15.- ¿Cuenta con lanzamiento de practika? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
                </tr>
                
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF";>09.  Limpieza de la tienda aspectos internos
</td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#fff;">
                <td>Lineamiento 10 (Evaluación Física-Limpieza de la tienda) </td>
				<td>1.- ¿El piso y los pasillos se encuentran libres de productos? (botes de pintura, cajas, deshechos, basura, tambores, cubetas, escobas)</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
				<tr style="background-color:#fff;">
                <td></td>
				<td>2.- ¿Las paredes y techo se encuentran limpios y en buenas condiciones? (No grietas, bien pintadas, sin muestras de aplicación de producto en la pared, ni logos  y techo sin faltante de plafón) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
				</tr>
                
                
                <tr style="background-color:#fff;">
                <td></td>
				<td>3- ¿El mostrador y anaqueles se encuentran limpios, sin manchas y sin objetos que obstruyan la interacción con el cliente, salvo los autorizados por Comex para campaña, promocionales o herramientas de venta? Criterios: Se revisa que no haya manchas en el mostrador, además deberás de pasar la mano sobre el mostrador y verificar que no tenga polvo. Los anaqueles que estén a  la  vista del cliente no deben de tener demasiado polvo. La forma de revisarlo será  levantando el producto y verificando que no deje la marca del mismo en el anaquel. </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
                    
				</tr>
                
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">10. Seguridad</td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 10  y Lineamiento 3	</td>
				<td>1.- ¿Cuenta con señalamientos de seguridad (ruta de evacuación visible al consumidor, no fumar, que hacer en caso de sismo e incendio y salida de emergencia? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>2.- ¿Los extintores se encuentran con fecha actualizada de recarga?  Criterios: Si no cuentan con la fecha de recarga o la válvula no funciona, puede aceptarse la carta que indica que la carga esta vigente </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>3.- ¿La instalación eléctrica está oculta o canalizada, los contactos y apagadores están con tapa (no saturados, no cables expuestos) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>4.- ¿Las lámparas se encuentran funcionando adecuadamente? (no fundidas, no parpadean) Nota: si estan apagados solicitar al encargado que las prenda para verificar que todas sirvan </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>5.-Vende thinner a granel (Pase a P6-P7, en caso de ser negativa la respuesta, pase a sección Fachada y aspectos externos)</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>6.- ¿Cuenta con los elementos (kit) para trasvase de solventes? DEBE CONTAR CON ALMENOS 4  Revisar diagrama
</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>7.- ¿Cuenta con el equipo de protección Personal adicional? CONTAR CON ALMENOS LOS PRIMEROS 3  Revisar diagrama
</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">11. Fachada y aspectos externos </td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 10  y Lineamiento 1	</td>
				<td>1.- ¿La fachada está bien pintada y en buenas condiciones? (Sin griesta, No grafitti  y razones sociales) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>2.- ¿La tienda cuenta con la imagen autorizada? (Logo, Colores, Resguardo de Marca, Anuncios) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>3. ¿La tienda cuenta con lonas institucionales colocadas correctamente sin obstruir la fachada? (NA para tiendas sin espacio para lonas, o que el municipio no permita) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>4.- ¿La tienda cuenta con facilidad de estacionamiento para sus clientes no mayor 20 Mts de la tienda y señalizado u ofrece este servicio? (SI NO LO VE, PREGUNTE AL vendedor SI TIENEN ESTACIONAMIENTO) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>5. ¿La tienda cuenta con la imagen nueva (círculos - brocahazo de color) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                 <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>6. ¿La tienda cuenta con la rotulación de servicios? (servicio a domicilio, tarjetas, teléfono y horario) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">12. Planograma General de la Tienda</td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 10 y Lineamiento 1</td>
				<td>1.- ¿Los complementos se encuentran acomodados de acuerdo al planograma? (Revisar planograma de complementos) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>2.- ¿El producto se encuentra acomodado con base en el planograma? VER PLANOGRAMA DEL MANUAL </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>3.- ¿Los productos están frenteados? (La etiqueta o marca esta mirando hacia usted)  Criterios: Los productos  deberán de estar frenteados mínimo en un 90% de los anaqueles para no ser penalizados </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>4.-¿El frente de los anaqueles contiene producto en un 90% de su totalidad? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>5.- La tienda tiene cubetas en el piso </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>6.-Si hay cubetas en el piso, ¿las cubetas se encuentran alineadas simulando plataforma? CRITERIO:  Pueden estibarse en piso simulando una plataforma de (estiba x columna x fila) 3x3x3, 3x3x1, 3x3x2 y 3x2x2 (no más de 3 escenarios) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>7.- ¿Todos los productos se encuentran etiquetados (etiqueta corporativa) , no productos re envasados?  Criterios: No puede haber botes sin etiquetas, si observas al menos uno se penaliza </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>8.- ¿Los productos se encuentran en buenas condiciones? (no golpes, etiquetas rotas, imagen anterior, manchados de pintura) Criterios: Los productos deberán estar en buenas condiciones al menos en 90% de los anaqueles. </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>9.- ¿Cuenta con preciadores en los anaqueles?  Criterios: Todos los productos visibles al cliente deben de tener preciadores al menos uno por familia de productos. </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>

<!--MAS TABLAS-->

<tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">13. Guía de Ejecución de Campaña </td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 10   y Lineamiento 4 </td>
				<td> ¿Hay campaña nacional en curso? SHOPPER: Si el empleado dice que no hay campaña, verificar vs el calendario entregado cada ola. (En caso de no haber campaña todo el rubro es NA y pasar al siguiente segmento) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>1.- ¿El empleado de tienda cuenta con la guía de ejecución de campaña? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>2.- El producto de promoción vigente está exhibido en las cabeceras y/o islas? (está a la vista) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>3.- ¿Los materiales POP están colocados de acuerdo a la guía de ejecución de campaña? (en caso de que aplique campaña nacional)  </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>4.-¿Tiene lona o pendón de campaña? (Debe de tener alguno de los dos)  </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>Detallar si tiene lona o pendón y cuántos: </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>5.- Si tiene lona, están colocadas en un lugar que no obstruya la visibilidad </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background-color:#FFFFFF;">
                <td></td>
				<td>6.- Cuenta con inciativa "vamos por 3" ( Por lo menos un vendedor debe contar con la playera y el boton de vamos por 3 o con tent card) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">Preguntas Adicionales</td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td></td>
				<td>1.- Nombre completo del encargado de la tienda </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>

				</tr>
                      
                      
                      <table class="table table-small-font table-bordered table-striped"  id="example-3">
			<thead>
				<tr class="replace-inputs">
                    <th>Lineamiento</th>
					<th>Marco Regulatorio</th>
					<th>Aprobación</th>
				</tr>
			</thead>
			<tbody>
            <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">14. Exclusividad de la marca </td>
					<td>
                    </td>
				</tr>
				<tr>
                <td>Lineamiento 1 Exclusividad y uso de marca (Exclusividad) </td>
				<td>1.- ¿Encuentra productos SOLO autorizados por Comex?  (Anotar también categorías que no son semejantes a la nuestra por ejemplo: refrescos, dulces, etc) (Tomar foto como evidencia)</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">15. Politica de precios </td>
					<td>
                    </td>
				</tr>
				<tr>
                <td>Lineamiento 2 Política de Precios </td>
				<td>Preguntar si Litro Esmalte 100 brillante blanco esta en promoción </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Preguntar Precio Litro Esmalte 100 brillante blanco </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Preguntar si Galón Vinimex Satin Blanco esta en promoción </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                 <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Preguntar precio Galón Vinimex Satin Blanco </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                 <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">15. Politica de precios </td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 2 Política de Precios </td>
				<td>Preguntar si Litro Esmalte 100 brillante blanco esta en promoción</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Preguntar Precio Litro Esmalte 100 brillante blanco </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Preguntar si Galón Vinimex Satin Blanco esta en promoción </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                 <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Preguntar precio Galón Vinimex Satin Blanco </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">16. Cumplimiento Normativo </td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 3 Cumplimientos legales</td>
				<td>1.- ¿Cuenta con los Avisos de Privacidad? Criterio: Debe contar con 2 avisos a la vista: (1) Aviso de Privacidad Comex y (2) Aviso de Privacidad Concesionario. Así como tener en sus archivos el (3) Aviso de Privacidad Completo Concesionario.</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>4. ¿Cuenta con  un  Programa interno de Protección Civil? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>5. ¿Cuenta con Licencia de Funcionamiento/Aviso de Declaración de Apertura? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                 
                 <tr style="background:#27A6DB;">
                <td></td>
				<td style="color:#FFFFFF;">17. Portafolio Básico </td>
					<td>
                    </td>
				</tr>
				<tr style="background-color:#FFFFFF;">
                <td>Lineamiento 10 Portafolio Básico</td>
				<td>Productos: Esmalte (Galón de Acqua 100 Blanco brillante) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: Esmalte (Galón de Primario # 2 Gris Claro) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: Esmalte (Galon Flash Coat brillante)</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: Maderas (Litro de tinta alcohol Nogal)</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: Maderas (Litro de Barniz Tinte Color Life) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: Maderas (Galon Poly Form alto desempeño) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: Impermeabilizantes (Cuenta con TOP cubeta o RoofMastic cubeta )  </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: COMPLEMENTO  Brocha Comex PN 4 </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: COMPLEMENTO  Comex Felpa Lisa Microfibra  </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Producto: Alkafin base agua galon </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: Inventa (Galón via color base agua amarillo)</td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Productos: Inventa (Litro de Albermex Azul Pavo) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>SERVICIOS: Existe servicio a domicilio en la tienda </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>SERVICIOS: Acepta tarjetas de crédito la tienda </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>SERVICIOS: Ofrece servicio de igualación </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Herramientas: Taco de color  ¿Se cuenta con taco de color para consulta del cliente?  </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Herramientas: Revista Sensaciones ¿La tienda cuenta con ejemplares de la revista Sensaciones para su venta? </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                
                
                <tr style="background-color:#FFFFFF;"">
                <td></td>
				<td>Herramientas: Kit POP  Los materiales POP colocados de acuerdo a la guía de ejecución de campaña (en caso de que aplique campaña nacional) </td>
					<td>
                    <div align="center" class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
                    </td>
				</tr>
                

			</tbody>
			
		</table>
		</div>
		<script type="text/javascript">
		// This JavaScript Will Replace Checkboxes in dropdown toggles
		jQuery(document).ready(function($)
		{
			setTimeout(function()
			{
				$(".checkbox-row input").addClass('cbr');
				cbr_replace();
			}, 0);
		});
		</script>
		<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
	
</script>
	</div>
</div>
