<!-- Custom column filtering -->
<div class="panel panel-default txtparrafos">
    <div class="panel-heading">
        <h3 class="panel-title encabezados" >Perfiles</h3>
        <div class="panel-options btn1 encabezados"><a  ui-sref="app.rolform({})"  type="submit" class="btn btn-success" >Nuevo</a></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
            <table class="table table-small-font table-bordered table-striped" id="example-3">
                <thead>
                    <tr class="replace-inputs">
                        <th>Nombre del perfil</th>
                        <th>Descripcón</th>
                        <th translate="ROLE_DATECREATION"></th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="perfilItem in allRoles">
                        <td>{{perfilItem.nombre}}</td>
                        <td>{{perfilItem.descripcion}}</td>
                        <td>{{perfilItem.Creation}}</td>
                        <td>
                            <a  ui-sref="app.rolform({rolid:rolItem.idObjetoSeguridad})"  class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
                            </a>
                            <a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>