<!-- Custom column filtering -->
<div class="panel panel-default txtparrafos">
    <div class="panel-heading">
        <h3 class="panel-title encabezados" >Roles</h3>
        <div class="panel-options btn1 encabezados"><a  ui-sref="app.rolform({tipoObjeto:tipoObjeto, titulo:titulo})"  type="submit" class="btn btn-success" >Nuevo</a></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
            <table class="table table-small-font table-bordered table-striped" id="example-3">
                <thead>
                    <tr class="replace-inputs">
                        <th>Nombre del rol</th>
                        <th>Descripción</th>
                        <th translate="ROLE_DATECREATION"></th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rolItem in allRoles">
                        <td>{{rolItem.nombre}}</td>
                        <td>{{rolItem.descripcion}}</td>
                        <td>{{rolItem.Creation}}</td>
                        <td>
                            <a  ui-sref="app.rolform({secObjId:rolItem.idObjetoSeguridad, tipoObjeto:tipoObjeto , titulo:titulo})"  class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil" title="Editar">
                            </a>
                            <!-- a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o" title="Eliminar">
                            </a-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>