<script src="assets/js/xenon-custom.js"></script>

<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Registro de Usuario"
	description="Debe ingresar la información completa del usuario que se va a dar de alta en el sistema"></page-title>


<form role="forl" id="rootwizard" class="form-wizard validate" validate
	name="form">


	<ul class="tabs">

		<li><a href="#fwv-1" data-toggle="tab"> Datos del Usuario <span>2</span>
		</a></li>
	</ul>

	<div class="progress-indicator">
		<span></span>
	</div>

	<div class="tab-content no-margin">

		<div class="tab-pane with-bg" id="fwv-1">
			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<strong>Datos Generales</strong>
					</div>
				</div>
				<div class="form-group">
					<span class="validate-has-error" ng-show="form.$submitted">{{errorsubmit}}</span>
					<div class="tab-pane with-bg active" id="datosUsuario">
						<label class="control-label">Nombre de usuario</label> <input
							ng-pattern="/^[a-zA-Z0-9_-]*$/" type="text"
							data-validate="required" class="form-control"
							name="nombreUsuario" ng-model="user.nombreUsuario" required
							ng-readonly="isUpdate" title="Campo obligatorio"
							placeholder="Ingrese un nombre de usuario" /> <span
							ng-show="(form.$submitted || form.nombreUsuario.$touched) && form.nombreUsuario.$error.required"
							class="validate-has-error">Campo obligatorio</span> <span
							ng-show="(form.$submitted || form.nombreUsuario.$touched) && form.nombreUsuario.$error.pattern"
							class="validate-has-error">Nombre de usuario inválido</span>
					</div>
				</div>


			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Nombre(s)</label> <input type="text"
							class="form-control" name="firstname"
							data-message-required="Ingrese su nombre, por favor"
							ng-model="user.nombre" required title="Campo obligatorio" /> <span
							ng-show="(form.$submitted || form.firstname.$touched) && form.firstname.$error.required"
							class="validate-has-error" translate="GENERAL_REQUIRED"></span>
					</div>

				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Apellido Paterno</label> <input
							type="text" class="form-control" name="lastname"
							ng-model="user.apellidoPaterno" required
							title="Campo obligatorio" /> <span
							ng-show="(form.$submitted || form.lastname.$touched) && form.lastname.$error.required"
							class="validate-has-error" translate="GENERAL_REQUIRED"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Apellido Materno</label> <input
							type="text" class="form-control" name="middlename"
							ng-model="user.apellidoMaterno" required
							title="Campo obligatorio" /> <span
							ng-show="(form.$submitted || form.middlename.$touched) && form.middlename.$error.required"
							class="validate-has-error" translate="GENERAL_REQUIRED"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">RFC</label> <input
							class="form-control" name="rfc" type="text" id="rfc"
							data-validate="required" placeholder="Ingrese su RFC"
							title="Campo obligatorio" data-validate="required"
							data-message-required="Campo obligatorio"
							ng-model="user.cveFiscal"
							ng-pattern="/^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))([A-Z\d]{3})?/"
							required /> <span
							ng-show="(form.$submitted || form.rfc.$touched) && form.rfc.$error.required"
							class="validate-has-error">Campo requerido</span> <span
							ng-show="(form.$submitted || form.rfc.$touched) && form.rfc.$error.pattern"
							class="validate-has-error">RFC inválido</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="state">Tipo de Documento
							de Identificación Oficial</label> <select name="tipoDoc"
							ng-model="user.tipoDocId" class="form-control"
							data-validate="required"
							data-message-required="Campo obligatorio">
							<option ng-repeat="documento in allTipoDoc.items"
								value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="state">Número de
							documento</label> <input type="text" class="form-control" name="num_doc"
							data-validate="number" ng-model="user.docIdentificacion"
							placeholder="Ingresa el Número de Documento" required
							title="Por favor, introduce un número válido."
							title="Campo obligatorio" data-validate="required"
							data-message-required="Campo obligatorio" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Género</label> <select
							class="form-control" name="genero" ng-model="user.idGenero"
							data-validate="required"
							data-message-required="Campo obligatorio">
							<option ng-repeat="documento in allGenero.items"
								value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<label class="control-label">Fecha de Nacimiento</label> <input
						class="form-control datepicker data-format=yyyy-mm-dd"
						data-start-view="2" ng-model="user.fechaNacimiento"
						placeholder="Ingrese su Fecha de Nacimiento"
						data-validate="required" data-message-required="Campo obligatorio">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Curp</label> <input
							class="form-control" name="curp" type="text" id="curp"
							ng-model="user.curp" data-validate="required"
							placeholder="Ingrese su CURP" title="Campo obligatorio"
							onblur="ValidaCURP(this.value)" data-validate="required"
							data-message-required="Campo obligatorio" />
					</div>
				</div>
				<div class="col-md-6">
					<label class="control-label">Fecha de Ingreso</label> <input
						class="form-control datepicker data-format=yyyy-mm-dd"
						data-start-view="2" ng-model="user.fechaIngreso"
						placeholder="Ingrese su Fecha de Ingreso" data-validate="required"
						data-message-required="Campo obligatorio">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">E-mail</label> <input type="email"
							class="form-control" name="Email"
							ng-model="user.correoElectronico" required
							title="Por favor, introduce una dirección de correo electrónico válida." />
						<span
							ng-show="(form.$submitted || form.email.$touched) && form.email.$error.required"
							class="validate-has-error" translate="GENERAL_REQUIRED"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="state">Cargo</label> <select
							name="cargo" name="cargo" ng-model="user.idCargo"
							class="form-control" required>
							<option ng-repeat="documento in allCargo.items"
								value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Salario nómina</label> <input
							class="form-control" name="salarioNomina" value="" type="number" id="salarioNomina"
							data-validate="required" 
							title="Campo obligatorio, ingrese un número válido"
							placeholder="Ingrese el salario base" ng-model="user.salarioBase">
							<span
							class="error"
							ng-show="(form.$submitted || form.salarioNomina.$touched) && form.salarioNomina.$error.required"
							style="color: red">Salario base requerido</span> <span
							class="validate has-error" ng-show="form.salarioNomina.$error.salarioNomina"
							style="color: red">Salario base inválido</span>
							
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Salario asimilable</label> <input
							class="form-control" name="salarioAsimilable" value="" type="number" id="salarioAsimilable"
							data-validate="required" 
							title="Campo obligatorio, ingrese un número válido"
							placeholder="Ingrese el salario asimilable" ng-model="user.salarioBase">
							<span
							class="error"
							ng-show="(form.$submitted || form.salarioAsimilable.$touched) && form.salarioAsimilable.$error.required"
							style="color: red">Salario asimilable requerido</span> <span
							class="validate has-error" ng-show="form.salarioAsimilable.$error.salarioAsimilable"
							style="color: red">Salario asimilable inválido</span>
							
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Semanas de gracia</label> <input
							class="form-control" name="semanaGracia" value="" type="number" id="semanaGracia"
							data-validate="required" 
							title="Campo obligatorio, ingrese un número válido"
							placeholder="Ingrese semanas de gracia" ng-model="user.semanasGracia">
							<span
							class="error"
							ng-show="(form.$submitted || form.semanaGracia.$touched) && form.semanaGracia.$error.required"
							style="color: red">Semanas de gracia requerido</span> <span
							class="validate has-error" ng-show="form.semanaGracia.$error.semanaGracia"
							style="color: red">Semanas de gracia inválido</span>
							
					</div>
				</div>
				<div class="col-md-6">
					<label class="control-label">Fecha de baja</label> <input
						class="form-control datepicker data-format=yyyy-mm-dd"
						data-start-view="2" ng-model="user.fechaBaja"
						placeholder="Ingrese su Fecha de Ingreso" >
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Clave Empleado</label> <input
							type="text" class="form-control" name="cveEmpleado"
							ng-model="user.cveEmpleado" data-validate="required" required
							title=" " pattern="^[a-zA-Z_0-9\s]*$" /> <span
							ng-show="(form.$submitted || form.cveEmpleado.$touched) && form.cveEmpleado.$error.required"
							class="validate has-error" translate="GENERAL_REQUIRED"
							style="color: red">Ingrese Clave de Empleado</span> <span
							ng-show="(form.$submitted || form.cveEmpleado.$touched) && form.cveEmpleado.$error.pattern"
							class="validate has-error" translate="GENERAL_REQUIRED"
							style="color: red">Clave de empleado inválido, sólo letras y números</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
							<label >
								<input type="checkbox" ng-model="user.activo">Activo
							</label>
					</div>												
				</div>
			</div>
			
			<div class="col-sm-12">
				<div align="right" class="form-group">
					<button type="submit" class="btn btn-success"
						 ng-disabled="!form.$valid" ng-click="submitTheForm()">Guardar Cambios</button>
				</div>
			</div>
			<br />
		</div>
	</div>
	<!-- Tabs Pager -->
</form>


<!-- Main Footer -->
<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
<!-- Or class "fixed" to  always fix the footer to the end of page -->

<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);

	function ValidaCURP(curp) {
		var strCurp;
		strCurp = curp;
		if (curp.match(/^([a-z]{4})([0-9]{6})([a-z]{6})([0-9]{2})$/i)) {

		} else {
			alert('CURP Incorrecto');
		}

	}

    var app = angular.module('pass', [ 'Validation' ]);

	angular.module('Validation', []).directive('vpc', function() {
		return {
			require : 'ngModel',
			link : function(scope, elm, attrs, ctrl) {
				ctrl.$parsers.unshift(function(viewValue, $scope) {
					var noMatch = viewValue != scope.form.password.$viewValue
					ctrl.$setValidity('noMatch', !noMatch)
				})
			}
		}
	})
</script>





















































