
	<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Registro de Convocatoria"
	description="Debe ingresar la información completa"></page-title>

<div class="panel panel-default">
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">
		<form role="forl" id="saveConvocatoria" class="validate" validate name="saveConvocatoria"
			ng-submit="submitTheForm()" method="post">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="full_name">Nombre de la convocatoria</label> 
						<div class="input-group">
						<div class="input-group-addon">
										<i class="fa-file-text"></i>
									</div>
						<input class="form-control" name="full_name"
							id="full_name" placeholder="Ingrese el nombre de la convocatoria"
							ng-model="convocatoriaItem.nombre" title="Campo obligatorio" required />
					</div>
				</div>
				</div>
						<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Fecha de creacion</label> 
						<div class="input-group">
						<div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div>
						<input class="form-control datepicker" data-start-view="2" ng-model="convocatoriaItem.fechaCreacion" 
							placeholder="Ingrese Fecha de creacion">
					</div>
						</div>
				</div>
				</div>
		<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="full_name">Nombre del Autor</label> 
							<div class="input-group">
						<div class="input-group-addon">
										<i class="fa-user-md"></i>
									</div>
						<input class="form-control" name="full_name"
							id="full_name" placeholder="Ingrese el nombre del autor"
							ng-model="convocatoriaItem.nombreAutor" title="Campo obligatorio" required />
					</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="full_name">Hora de creacion del archivo</label>
						<div class="input-group">
						<div class="input-group-addon">
										<i class="fa-history"></i>
									</div> <p>
						<input type="time" name="hora" value="12:00:00" max="00:59:00"
							min="00:59:00" step="1"> <input type="submit"
							value="enviar">
					</div>
					</div>
				</div>				
				</div>
				</form>
	

	</div>
	<div class="row">
				<div class="col-md-6">
	<strong><h3 class="panel-title">Subir archivo</h3></strong>
	<p>
	<p>
	<p><center>
	<form action="data/upload-file.php" class="dropzone"></form> 
	</div>
	</div></center>
	<ul class="pager wizard">
				<p align="right">
					<button type="submit" align="right" class="btn btn-success" ng-disabled="!saveProduct.$valid">Validar</button>
				</p>

			</ul>
			
	</div>
	