<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Registro de Reglas de Gastos"
	description="Debe ingresar la información completa"></page-title>

<div cclass="panel panel-default">
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">
		<form role="forl" id="saveProduct" class="validate" validate name="saveProduct"
			ng-submit="submitTheForm()" method="post">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="state">Gasto</label> <select
							name="cargo" name="cargo" ng-model="reglaItem.idGasto"
							class="form-control" required>
							<option ng-repeat="documento in allTipoGasto.items"
								value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="state">Rol</label> <select
							name="cargo" name="cargo" ng-model="reglaItem.idRol"
							class="form-control" required>
							<option ng-repeat="rolItem in allRoles"
								value="{{rolItem.idObjetoSeguridad}}">{{rolItem.nombre}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="state">Periodo</label> <select
							name="cargo" name="periodo" ng-model="reglaItem.idPeriodo"
							class="form-control" required>
							<option ng-repeat="documento in allPeriodoGasto.items"
								value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="mon_min">Máximo </label> <input
							class="form-control" name="monto" type="number"
							placeholder="Ingrese el monto mínimo"
							ng-model="reglaItem.maximo"
							placeholder="Ingrese el monto"
							title="Campo obligatorio, ingrese un número válido" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
							<label >
								<input type="checkbox" ng-model="reglaItem.requiereCFDI">Requiere CFDI
							</label>
					</div>												
				</div>

			</div>
			<ul class="pager wizard">
				<p align="right">
					<button type="submit" align="right" class="btn btn-success" ng-disabled="!saveProduct.$valid">Validar</button>
				</p>
			</ul>
		</form>
		<!-- Main Footer -->
		<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
		<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
		<!-- Or class "fixed" to  always fix the footer to the end of page -->


	</div>