
<nav class="navbar user-info-navbar"
	ng-class="{'mobile-is-visible': layoutOptions.userInfoNavVisible}"
	ng-click="mobileUserInfoToggle()" role="navigation">
	<!-- User Info, Notifications and Menu Bar -->

	<!-- Left links for user info navbar -->
	<ul class="user-info-menu left-links list-inline list-unstyled">

		<li class="hidden-sm hidden-xs"><a href=""
			ng-click="sidebarToggle()"> <i class="fa-bars"></i>
		</a></li>


		<li class="dropdown hover-line" on-toggle="updatePsScrollbars()">

			<ul class="dropdown-menu messages" on-toggle="updatePsScrollbars()">
				<li>
					<!--<ul class="dropdown-menu-list list-unstyled ps-scrollbar">

		<li class="active">-->
					<!-- "active" class means message is unread --> <!--<a href="">
				<span class="line">
					<strong>Luc Chartier</strong>
					<span class="light small">- yesterday</span>
				</span>

				<span class="line desc small">
					This ain’t our first item, it is the best of the rest.
				</span>
			</a>
		</li>

		<li class="active">
			<a href="">
				<span class="line">
					<strong>Salma Nyberg</strong>
					<span class="light small">- 2 days ago</span>
				</span>

				<span class="line desc small">
					Oh he decisively impression attachment friendship so if everything.
				</span>
			</a>
		</li>

		<li>
			<a href="">
				<span class="line">
					Hayden Cartwright
					<span class="light small">- a week ago</span>
				</span>

				<span class="line desc small">
					Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
				</span>
			</a>
		</li>

		<li>
			<a href="">
				<span class="line">
					Sandra Eberhardt
					<span class="light small">- 16 days ago</span>
				</span>

				<span class="line desc small">
					On so attention necessary at by provision otherwise existence direction.
				</span>
			</a>
		</li>--> <!-- Repeated --> <!--<li class="active">-->
					<!-- "active" class means message is unread --> <!--<a href="">
				<span class="line">
					<strong>Luc Chartier</strong>
					<span class="light small">- yesterday</span>
				</span>

				<span class="line desc small">
					This ain’t our first item, it is the best of the rest.
				</span>
			</a>
		</li>

		<li class="active">
			<a href="">
				<span class="line">
					<strong>Salma Nyberg</strong>
					<span class="light small">- 2 days ago</span>
				</span>

				<span class="line desc small">
					Oh he decisively impression attachment friendship so if everything.
				</span>
			</a>
		</li>

		<li>
			<a href="">
				<span class="line">
					Hayden Cartwright
					<span class="light small">- a week ago</span>
				</span>

				<span class="line desc small">
					Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
				</span>
			</a>
		</li>

		<li>
			<a href="">
				<span class="line">
					Sandra Eberhardt
					<span class="light small">- 16 days ago</span>
				</span>

				<span class="line desc small">
					On so attention necessary at by provision otherwise existence direction.
				</span>
			</a>
		</li>

	</ul>

</li>-->
				<li class="external"><a href="mailbox-main.html"> <span>All
							Messages</span> <i class="fa-link-ext"></i>
				</a></li>
			</ul>
		</li>

		<li class="dropdown hover-line"><a href=""
			class="dropdown-toggle" data-toggle="dropdown"> <i
				class="fa-bell-o"></i> <span class="badge badge-purple">{{taskSize}}</span>
		</a>

			<ul class="dropdown-menu notifications">
				<li class="top">
					<p class="small">
						<a ui-sref="app.tareas()"
						href="" 
						class="pull-right">Revisar todas </a> Tienes <strong>{{taskSize}}</strong>
						nuevas notificaciones.
					</p>
				</li>

				<li>
					<ul class="dropdown-menu-list list-unstyled ps-scrollbar">
<!-- 					ui-sref="app.clienteform({rutas: rutas, figura: figura})" -->
						<li ng-repeat="task in tasks" class="active notification-success">
							<a href="" ng-click="executeTask(task.id);"> <i class="fa-user"></i>
							<!-- class="fa-thumbs-up" class="fa-lock"--> <span class="line">
									<strong>{{task.name}}</strong>
							</span> <span class="line small time"> hace 30 segundos </span>
						</a>
						</li>
					</ul>
				</li>

			</ul></li>

		<!-- Added in v1.2 -->
		<!-- li class="dropdown hover-line language-switcher"><a href=""
			class="dropdown-toggle" data-toggle="dropdown"> <img
				src="assets/images/flags/flag-es.png" alt="flag-es" />
				Espa&ntilde;ol
		</a>

			<!-- ul class="dropdown-menu languages">
				<li class="active"><a href="#"> <img
						src="assets/images/flags/flag-es.png" alt="flag-es" />
						Espa&ntilde;ol
				</a></li>
				<li><a href="#"> <img src="assets/images/flags/flag-uk.png"
						alt="flag-uk" /> English
				</a></li>
			</ul-->
			</li-->

	</ul>


	<!-- Right links for user info navbar -->
	<ul class="user-info-menu right-links list-inline list-unstyled">


		<!--<li class="search-form" ng-init="isFocused = false" ng-class="{focused: isFocused}">-->
		<!-- You can add "always-visible" to show make the search input visible -->

		<!--<form name="userinfo_search_form" ng-submit="userinfo_search_form.$valid" novalidate>
				<input type="text" name="s" class="form-control search-field" placeholder="Type to search..." ng-blur="isFocused = false;" required />

				<button type="submit" class="btn btn-link" ng-click="isFocused = ! isFocused; setFocusOnSearchField();">
					<i class="linecons-search"></i>
				</button>
			</form>

		</li>-->

		<li class="dropdown user-profile"><a href=""
			class="dropdown-toggle" data-toggle="dropdown"> <img
				src="assets/images/user-4.png" alt="user-image"
				class="img-circle img-inline userpic-32" width="28" /> <span>
					{{repository.loggedUser.showname}} <i class="fa-angle-down"></i>
			</span>
		</a>

			<ul class="dropdown-menu user-profile-menu list-unstyled">
				<li><a href="#profile"> <i class="fa-user"></i> Perfil
				</a></li>
				<li><a href="#help"> <i class="fa-info"></i> Ayuda
				</a></li>
				<li class="last"><a href="#/login-light"> <i
						class="fa-lock"></i> Cerrar Sesión
				</a></li>
			</ul></li>



	</ul>

</nav>