

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Usuarios</h3>
		
		<div class="panel-options btn1"><a href="index.html#/app/users-registro_usuarios" type="submit" class="btn btn-success">Nuevo</a></div>
	</div>
	<div class="panel-body">
		
		
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="false"  >
		<table class="table table-small-font table-bordered table-striped"  id="example-3">
			<thead>
				<tr class="replace-inputs">
					<th	>Email</th>
					<th data-priority="3">Nombres</th>
					<th data-priority="3">Apellidos</th>
					<th data-priority="3">Teléfono</th>
					<th data-priority="3">Tipo usuario</th>
					<th data-priority="1">Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>gerardo.ramirez@isol.com.mx</td>
					<td>Gerardo</td>
					<td>Ramirez Alvarez</td>
					<td class="center">1234151235</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
						</a>
						
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
						</a>
						
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
				<tr>
					<td>raul.flores@isol.com.mx</td>
					<td>Raul</td>
					<td>Flores Gomez</td>
					<td class="center">123123123</td>
					<td class="center"><span class="label label-success">Administrador</span></td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
			</tbody>
			
		</table>
		</div>
	</div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>